* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
}
ul,
li,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none !important;
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navbar-top-left > p {
  font-family: "Roboto", sans-serif;
  color: #bababa;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
.navbar-top-left > p > span {
  font-family: "Roboto", sans-serif;
  color: #919191;
  font-weight: 700;
  font-size: 18px;
}
.navbar-top-right {
  display: flex;
  align-items: center;
}
.navbar-top-right > ul {
  margin-bottom: 0px;
}
.navbar-top-right > ul li {
  display: inline-block;
}
.navbar-top-right > ul li > a {
  color: #bababa;
  font-size: 18px;
  padding-right: 15px;
}
.navbar-right-ul {
  border-right: 1px solid #bababa;
}
.navbar-right-ul-select {
  color: #bababa;
  font-size: 18px;
  padding-left: 10px;
}
.navbar-right-ul-select label > a {
  color: #bababa;
  font-size: 18px;
  padding: 0px 5px;
}
.first-swiper-arrow {
  margin: 0px 35px;
}
.myfirstswiper img {
  width: 100%;
}
.slider-menu-cover {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.slider-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-menu-right > ul li {
  display: inline-block;
}
.slider-menu-randevu > ul {
  padding-left: 0px;
}
.slider-menu-right > ul li > a {
  font-family: "Roboto", sans-serif;
  color: #213360;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
}
.slider-menu-right > ul li > a:hover {
  color: #44bd55;
}
.slider-menu-randevu > ul li > a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  background-color: #44bd55;
  border-radius: 26px;
  padding: 15px;
}
.slider-menu-randevu > ul li > a > i {
  margin-right: 10px;
}
.first-navprev {
  left: 220px !important;
  right: auto;
  color: #bababa !important;
}
.first-navnext {
  right: 140px !important;
  left: auto;
  color: #bababa !important;
}
.first-slider-header {
  position: absolute;
  left: 280px;
  right: auto;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.first-slider-header > h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  color: #00598d;
  font-weight: 700;
}
.swiper-first-peg {
  position: absolute;
  bottom: 90px !important;
}
.swiper-first-peg .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #ffffff !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(132, 156, 163, 0) !important;
}
.swiper-first-peg .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
}
.bar-menu-container {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 50px; */
  bottom: 10%;
}
.first-slider-bar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 131px;
}
.first-slider-bar-menu-content-cover {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 30px;
  box-shadow: 0px 5px 30px rgb(47 76 88 / 6%);
}
.first-slider-bar-menu-content {
  display: flex;
  align-items: center;
}
.first-slider-bar-menu-content > a {
  font-family: "Quicksand", sans-serif;
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  margin-left: 20px;
}
.first-slider-bar-menu-content > a:hover {
  color: #4b4b4b;
}
.bar-menu-content-last {
  background-color: #44bd55;
  height: 100%;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  padding-right: 30px;
}
.bar-menu-content-last > a {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
.bar-menu-content-last > a:hover {
  color: #ffffff;
}
.bar-menu-arrow {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: -40px;
  border: 10px solid rgb(33 51 96 / 10%);
}
.bar-menu-arrow > a > i {
  color: #44bd55;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 61px;
}
.second-section {
  margin-top: 100px;
}
.slider-bottom-header {
  font-family: "Quicksand", sans-serif;
  color: #004c84;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 135px;
}
.slider-bottom-header > h1 > span {
  color: #00598d;
  background: #dcf0fc;
  border-radius: 10px;
  padding: 0px 10px;
}
.slider-bottom-content-cover {
  display: flex;
  justify-content: space-between;
}
.slider-bottom-content-left {
  display: flex;
  position: relative;
}
.slider-bottom-content-img-div > img {
  width: 100%;
}
.slider-bottom-content-img-div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background: linear-gradient(
    180deg,
    rgba(6, 23, 51, 0.19371498599439774) 75%,
    rgba(29, 42, 77, 0.8687850140056023) 100%
  );
}
.blue-box {
  position: absolute;
  width: 336px;
  height: 336px;
  background-color: #2b92d3;
  opacity: 10%;
  z-index: -1;
  border-radius: 32px 32px 0px 32px;
  right: -55px;
  top: -68px;
}
.slider-bottom-content-right {
  margin-right: 150px;
}
.slider-bottom-content-right > img {
  margin-bottom: 30px;
}
.slider-bottom-content-right > p {
  font-size: 14px;
  font-weight: 400;
  color: #848e9f;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
.slider-bottom-content-right > a {
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}
.slider-bottom-content-right > a:hover {
  color: #4b4b4b;
}
.slider-bottom-content-right > a > i {
  margin-left: 10px;
}
.hikaye {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 3;
}
.hikaye > a {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  display: flex;
}
.hikaye > a > i {
  font-size: 54px;
  display: block;
  margin-right: 15px;
}
.koltuk {
  position: absolute;
  right: 15px;
  bottom: -20px;
  z-index: 3;
}
.second-slider-header-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-arrow-btn {
  display: flex;
  justify-content: space-between;
}
.swiper-second-prev,
.swiper-second-next {
  width: 57px;
  height: 57px;
  border: 3px solid #c4c4c4;
  border-radius: 50px;
  margin-right: 18px;
}
.swiper-second-prev > i,
.swiper-second-next > i {
  font-size: 30px;
  color: #c4c4c4;
  line-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-second-prev:hover,
.swiper-second-next:hover {
  border: 3px solid #00598d;
  background-color: #00598d;
}
.swiper-second-prev:hover > i,
.swiper-second-next:hover > i {
  color: #ffffff;
}
.second-slider-header > h1 {
  font-size: 37px;
  color: #00598d;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.second-slider-box {
  /* background-color: rgb(68 189 85 / 8%); */
  background-color: rgb(196 196 196 / 11%);
  border-radius: 8px;
  padding: 30px 25px;
}
.second-slider-box:hover {
  background-color: rgb(68 189 85 / 8%);
  transition: 0.5s All;
}
.second-slider-box > p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  font-family: "Quicksand", sans-serif;
}
.second-slider-box-bottom {
  display: flex;
  align-items: center;
}
.second-slider-box-bottom > img {
  margin-right: 10px;
}
.second-slider-box-inner {
  padding-top: 10px;
}
.second-slider-box-inner > h6 {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-family: "Quicksand", sans-serif;
}
.second-slider-box-inner > p {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-family: "Quicksand", sans-serif;
  opacity: 50%;
}
.third-slider-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.third-slider-header > h1 {
  font-size: 45px;
  font-weight: 700;
  color: #20325f;
  font-family: "Quicksand", sans-serif;
}
.third-slider-header > p {
  font-size: 16px;
  font-weight: 700;
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
}
.mythirdslider {
  margin: 0px 50px !important;
}
.third-slider-img-box {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-img {
  padding: 0px 50px;
  width: 100%;
}
.right-img {
  padding: 0px 50px;
  width: 100%;
}
.third-pagination-cover > .thirdswiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.thirdswiper-pagination .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #00598d !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(132, 156, 163, 0) !important;
}
.thirdswiper-pagination .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #00598d !important;
  border: 1px solid #00598d !important;
}
.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-header > h1 {
  font-size: 45px;
  font-weight: 700;
  color: #20325f;
  font-family: "Quicksand", sans-serif;
}
.form-header > p {
  font-size: 16px;
  font-weight: 700;
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
}
.map-box > img {
  width: 100%;
}
.nav-wrapper {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #e6e8eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-wrapper > i {
  margin-right: 10px;
  color: #d7d8da;
}
.sl-nav {
  display: inline;
}
.sl-nav ul li > b {
  margin-right: 50px;
  color: #d7d8da;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top: 25px;
  right: -15px;
  display: block;
  background: #fff;
  width: 200px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 11px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav ul li > i {
  background-color: #00598d;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.form-box-cover {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
}
.form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
  border-radius: 22px;
  position: absolute;
  top: -300px;
}
.form-left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 35px;
}
.form-left-box-content > h1 {
  color: #0e204d;
  font-size: 24px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.form-left-box-content > p {
  color: #848e9f;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.form-element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 100%;
}
.form-element > label > .input-icon {
  position: relative;
}
.form-element > label > .input-icon > i {
  position: absolute;
  top: 22px;
  left: 20px;
  color: #d7d8da;
}
.form-element > label > .input-icon > input {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #e6e8eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  outline: none;
}
.form-element > label > .input-icon > input:hover {
  border: 1px solid #fff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
}
.nav-wrapper:hover {
  border: 1px solid #fff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
}
.form-element-last {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-element-last > a {
  background-color: #00598d;
  color: #ffffff;
  border-radius: 35px;
  width: 100%;
  text-align: center;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.form-element-last > a:hover {
  color: #ffffff;
}
.form-element-last > a > i {
  margin-left: 10px;
}
.form-right-box {
  background: linear-gradient(
    to right,
    rgba(29, 42, 77, 0.08),
    rgba(29, 42, 77, 0)
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 35px;
}
.right-text-box {
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #44bd55;
  border-radius: 0px 22px 22px 22px;
  width: 440px;
  height: 475px;
}
.right-text-box > h1 {
  font-size: 34px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.right-text-box > p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.text-box-contact {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.text-box-contact > a {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.text-box-contact > a > i {
  margin-right: 10px;
}
.text-box-contact > a:hover {
  color: #ffffff;
}
.right-text-box > a {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}
.right-text-box > a > i {
  margin-left: 10px;
}
.right-text-box > a:hover {
  color: #ffffff;
}
.media-box {
  display: flex;
  border: 1px solid #fcfcfc;
  border-radius: 10px;
  background-color: #fcfcfc;
}
.media-box:hover {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}
.media-box-inner {
  padding: 20px 15px;
}
.media-box-inner > h6 {
  color: #00598d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.media-box-inner > h1 {
  font-size: 21px;
  color: #26365e;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.media-box-inner > p {
  font-size: 15px;
  font-weight: 400;
  color: #848e9f;
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 110px;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 40px;
}
.media-box-inner > a {
  background-color: #00598d;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 6px rgb(3 21 50 / 5%);
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}
.media-box-inner > a > i {
  margin-left: 5px;
}
.media-box-inner > a:hover {
  color: #ffffff;
}
.second-slider-header {
  color: #848e9f;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.turizm-box {
  position: relative;
  border-radius: 10px;
}
.turizm-box > img {
  width: 100%;
}
.turizm-box-content {
  position: absolute;
  top: 100px;
  left: 50px;
}
.turizm-box-content > h1 {
  color: #ffffff;
  font-size: 65px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.turizm-box-content > p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 460px;
}
.turizm-btn {
  display: flex;
  position: relative;
  bottom: 150px;
  justify-content: flex-end;
  margin-right: 370px;
}
.turizm-btn > a {
  background-color: #00598d;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 6px rgb(3 21 50 / 5%);
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}
.turizm-btn > a:hover {
  color: #ffffff;
}
.last-slider-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.last-slider-header > h1 {
  margin-top: 120px;
  color: #0e204d;
  font-size: 22px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 35px;
}
.last-slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 90px;
}
.last-slide-box:hover {
  border-radius: 10px;
  background-color: #f5f5f5;
}
footer {
  background-color: #44bd55;
  padding-top: 10px;
  margin-top: 80px;
}
footer > .outher-container {
  background-color: #00598d;
}
.footer-box-cover {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.footer-box > h1 {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.footer-box > ul {
  padding: 0px;
}
.footer-box > ul li > a {
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.footer-box > ul li > a:hover {
  color: #44bd55;
}
.footer-social-icon {
  margin-top: 45px;
}
.footer-social-icon > ul li {
  display: inline-block;
}
.footer-social-icon > ul {
  padding: 0px;
}
.footer-social-icon > ul li > a {
  font-size: 22px;
  padding-right: 35px;
}
.footer-social-icon > ul li > a:hover {
  color: #44bd55;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
.footer-btn-content {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  color: #00588b;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.footer-btn-content > label {
  display: flex;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box > i {
  font-size: 30px;
  padding-right: 15px;
}
.footer-btn-content > label > a {
  font-weight: 700;
  color: #00588b;
  font-family: "Roboto", sans-serif;
  padding-top: 6px;
}
.footer-btn-content > label:hover > * {
  color: #44bd55;
}
.footer-bottom-box {
  display: flex;
  align-items: center;
  height: 55px;
}
.footer-bottom-box > ul li {
  display: inline-block;
}
.footer-bottom-box > ul li > a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border-right: 1px solid #1ca73a;
  padding: 0px 25px;
}
.hamburger-menu {
  display: none;
}
/*Responsive*/
@media only screen and (max-width: 1366px) {
  .slider-bottom-content-right {
    margin-right: 0px;
  }
  .mythirdslider {
    margin: 0px 0px !important;
  }
  .form-box {
    top: -250px;
  }
  .turizm-btn {
    display: flex;
    position: relative;
    bottom: 130px;
    justify-content: flex-end;
    margin-right: 240px;
  }
}
@media only screen and (max-width: 1024px) {
  .slider-menu {
    display: none;
  }
  .navbar-right-ul,
  .navbar-right-ul-select {
    display: none;
  }
  .first-navnext {
    display: none !important;
  }
  .first-navprev {
    display: none !important;
  }
  .first-slider-header {
    left: 80px;
  }
  .slider-bottom-content-cover {
    flex-flow: wrap;
    justify-content: center;
  }
  .form-box-cover {
    display: none;
  }
  .turizm-box {
    display: none;
  }
  .first-slider-bar-menu {
    display: none;
  }
  .swiper-first-peg {
    bottom: 30px !important;
  }
  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu > img {
    margin-left: 25px;
  }
  .hamburger-menu > a {
    color: #2b92d3;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  .hamburger-menu > a:hover {
    color: #2b92d3;
  }
  .first-slider-header > h1 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-box > ul {
    display: none;
  }
  .footer-box-cover {
    justify-content: center;
    flex-direction: column;
  }
  .footer-box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .slider-bottom-content-right > p {
    width: 350px;
  }
  .right-img,
  .left-img {
    padding: 0px 0px;
    width: 100%;
  }
  .blue-box {
    width: 166px;
    height: 166px;
    right: -15px;
    top: -25px;
  }
}
