* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 1000px;
}
ul,
li,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container-top {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
}
/*  slider */
.owlfirst .owl-container {
  top: 45px;
  position: absolute;
  width: 100%;
  height: 800px;
}
.owlfirst .item img {
  background-size: cover;
}
.owlfirst .owl-content {
  z-index: 7;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.owlfirst .owl-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  height: 30px;
}

.owlfirst .owl-dots {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 30px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: transparent !important;
  border: 2px solid #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active {
  width: 40px;
  border-radius: 50px;
  background: #ffffff !important;
}
@media screen and (max-width: 1024px) {
  .owlfirst .owl-dots {
    bottom: 80px;
  }
}
@media screen and (max-width: 800px) {
  .owlfirst .owl-dots {
    bottom: 50px;
  }
  .owlfirst .owl-nav {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .owlfirst .owl-nav {
    display: none;
  }
}

/*  slider end */

/* conteiner top info */
.container-top-info-content {
  background: #ffffff;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #707070;
  z-index: 80;
}
.container-top-info {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 5;
}
.container-top-info em {
  font-weight: 700;
}
.vr {
  border-left: 1px solid #707070;
  height: 25px;
  opacity: 0.5;
}
.container-top-info .globe-icon {
  padding-left: 5px;
  align-items: center;
  padding-top: 2px;
  color: #707070;
}
.select {
  border: none;
  cursor: pointer;
  color: #707070;
  font-weight: 400;
}
.select:focus,
.select:hover {
  outline: none;
}
.info-right {
  display: flex;
  letter-spacing: 5px;
}
.info-right img,
select {
  padding-left: 5px;
}
.container-top .container-top-info ul li {
  display: inline-block;
  color: #707070;
}
.container-top .container-top-info ul li a {
  display: block;
  color: #707070;
}
.info-randevu-btn {
  display: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #2b92d3;
  letter-spacing: 0;
}
.info-randevu-btn a {
  text-decoration: none;
  color: #2b92d3;
}
.hamburger-menu {
  display: none;
  width: 50px;
  height: 30px;
  background: url("img/hamburgermenu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: 30px;
}

/* conteiner top info end */
@media screen and (max-width: 1440px) {
  .container-top {
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .container-top {
    position: relative;
    display: flex;
    width: 100%;
    height: 430px;
  }
  .ul-menu {
    margin-top: 0;
    line-height: 20px;
    margin-left: 40px;
  }
  .conteiner-content-top-menu-btn a {
    color: #ffffff;
    font-size: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .owl-container {
    top: 45px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .container-top {
    height: 330px;
    background-position: 70% 75px;
  }
  .owl-container {
    top: 45px;
    margin-top: 80px;
  }
  .container-top-info-content {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #707070;
  }
  .container-top-info {
    align-items: center;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .container-top-info .info-left p {
    display: none;
  }
  .container-top-info .info-left {
    background: url("img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 41px;
  }
  .info-right-content ul {
    display: none;
  }
  .info-randevu-btn {
    display: flex;
    margin-right: 20px;
    font-size: 23px;
  }
  .container-top-info .globe-icon {
    display: none;
  }
  .select {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .container-top {
    background-position: 60% 35px;
  }
  .owl-container {
    top: 65px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 425px) {
  .hamburger-menu {
    margin-left: 5px;
  }
  .info-randevu-btn {
    margin-right: 10px;
  }

  .owlfirst .owl-dots {
    bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  .owlfirst .owl-dots {
    bottom: 10px;
  }
}
/* conteiner top menu content */

.conteiner-top-menu-cover {
  z-index: 60;
  position: absolute;
  width: 100%;
  display: flex;
  top: 55px;
  justify-content: center;
}
.conteiner-content-top-menu {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.conteiner-content-top-menu .logo {
  background: url("img/logo.svg");
  width: 150px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 5;
}
.ul-menu {
  margin-top: 10px;
  z-index: 4;
}
.ul-menu ul li {
  display: inline-block;
  color: #707070;
  cursor: pointer;
}
.ul-menu ul li a {
  display: block;
  color: #707070;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #213360;
}
.ul-menu ul li a:hover {
  color: #44bd55;
}
/*
#first {
  color: #44bd55;
}
*/
.conteiner-content-top-menu-btn {
  width: 148px;
  height: 51px;
  background: #44bd55;
  text-align: center;
  line-height: 50px;
  border-radius: 23px;
  font-weight: 700;
  letter-spacing: 0.5px;
  z-index: 5;
  cursor: pointer;
}
.conteiner-content-top-menu-btn:hover {
  background: #62ce71;
}
.conteiner-content-top-menu-btn a {
  color: #ffffff;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .conteiner-content-top-menu {
    display: none;
  }
}
/* conteiner top menu content end */
/* slider content */
.slider-content-cover {
  position: absolute;
  display: flex;
  top: 40%;
  left: 80px;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  z-index: 8;
}
.slider-top-center-content-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.slider-top-center-content-text a {
  font-size: 30px;
  color: #707070;
  opacity: 0.5;
}
.slider-content-cover a {
  z-index: 8;
  font-size: 30px;
  color: #707070;
  opacity: 0.5;
}
.slider-top-center-content-text p {
  font-size: 45px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #00598d;
  display: flex;
  justify-content: space-between;
  margin-right: 30%;
}
@media screen and (max-width: 1024px) {
  .slider-content-cover {
    left: 0;
  }
  .slider-content a {
    font-size: 20px;
  }
  .slider-content-cover a {
    font-size: 20px;
  }
  .slider-content p {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  .slider-content a {
    display: none;
  }
  .slider-content-cover a {
    display: none;
  }
  .slider-content p {
    font-size: 30px;
    margin-right: 400px;
  }
}
@media screen and (max-width: 550px) {
  .slider-content a {
    display: none;
  }
  .slider-content-cover a {
    display: none;
  }
  .slider-top-center-content-text p {
    position: absolute;
    font-size: 26px;
    left: 0px;
    line-height: 40px;
    margin-right: 0px;
  }
  .owl-nav {
    display: none;
  }
}
/* slider content end */
/* slider content bottom menu */
.bottom-end {
  top: 50px;
  width: 100%;
  height: 800px;
  display: flex;
}
.menu-cover-web {
  z-index: 7;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 100%; */
  bottom: -80px;
}
.menu-content-web {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 700px;
}
.menu-content-web div p {
  padding: 10px;
}
.menu-first-web,
.menu-second-web,
.menu-third-web,
.menu-four-web {
  display: flex;
  padding: 15px;
  width: 250px;
  height: 80px;
  align-items: center;
  text-align: center;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .menu-content-web {
    top: -100px;
  }
}
@media screen and (max-width: 800px) {
  .menu-content-web {
    top: -10px;
  }
}

.menu-first-web {
  border-radius: 10px 0px 0px 10px;
}
.menu-four-web {
  border-radius: 0px 10px 10px 0px;
  background: #44bd55;
  color: #ffffff;
}
.arrow-menu-bottom-web {
  color: #4b4b4b;
  position: absolute;
  background: #ffffff;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  left: 510px;
  top: 25px;
}
.arrow-menu-bottom-web:hover {
  box-shadow: 1px 1px 20px #4a4949;
}
.arrow-menu-bottom-web a {
  color: #44bd55;
  font-size: 22px;
}
/* mobil menu*/
.menu-cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: none;
}
.menu-content {
  transform: translate(-0%, -50%);
  position: absolute;
  align-items: center;
  display: flex;
  width: 358px;
  height: 160px;
}
.menu-content-top,
.menu-content-bottom {
  position: relative;
  width: 50%;
  height: 100px;
}
.menu-first,
.menu-second,
.menu-third,
.menu-four {
  display: flex;
  padding: 15px;
  width: 180px;
  height: 60px;
  align-items: center;
  text-align: center;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.menu-first {
  border-radius: 10px 0px 0px 0px;
}
.menu-second {
  border-radius: 0px 0px 0px 10px;
}
.menu-third {
  border-radius: 0px 10px 0px 0px;
}
.menu-four {
  border-radius: 0px 0px 10px 0px;
  background: #44bd55;
  color: #ffffff;
}
.arrow-menu-bottom {
  color: #4b4b4b;
  position: absolute;
  background: #ffffff;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  right: 170px;
  top: 65px;
}
.arrow-menu-bottom:hover {
  box-shadow: 1px 1px 20px #4a4949;
}
.arrow-menu-bottom a {
  color: #44bd55;
  font-size: 22px;
}

@media screen and (max-width: 550px) {
  .menu-cover {
    visibility: visible;
    z-index: 7;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    top: 270px;
    display: flex;
    bottom: -160px;
  }
  .menu-cover-web {
    display: none;
  }
  .owl-dots {
    bottom: 45px;
  }
}
@media screen and (max-width: 425px) {
  .menu-cover {
    visibility: visible;
    z-index: 7;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    top: 270px;
    display: flex;
    bottom: -100px;
  }
  .menu-cover-web {
    display: none;
  }
  .owl-dots {
    bottom: 15px;
  }
}
/* mobil menu end*/

.slider-bottom-menu-cover-mobil {
  position: absolute;
  align-items: center;
  display: flex;
}
/* @media screen and (max-width: 1440px) {
  .bottom-end {
    height: 650px;
  }
} */
@media screen and (max-width: 1024px) {
  .bottom-end {
    right: 80px;
  }
  .bottom-menu-box p {
    font-weight: 700;
    color: #4b4b4b;
    font-family: "Quicksand", sans-serif;
    padding-left: 2px;
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .bottom-end {
    right: 105px;
  }
}
@media screen and (max-width: 690px) {
  .slider-bottom-menu-cover {
    width: 30%;
    bottom: 10px;
    left: 20%;
    right: 17%;
  }
}
@media screen and (max-width: 550px) {
  .slider-bottom-menu-cover {
    display: none;
  }
}

/* slider content bottom menu end */
/* conteiner card body top */
.container-body-top {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.conteiner-body-top-header p {
  font-size: 40px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #00598d;
  text-align: center;
}
.conteiner-body-top-header p span {
  color: #00598d;
  background: #dcf0fc;
  border-radius: 10px;
  z-index: -2;
}
.conteiner-body-center {
  display: flex;
  position: absolute;
  width: 50%;
  height: 400px;
  top: 200px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.conteiner-body-center-card-left {
  background: url("img/hikaye1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 45%;
}

.conteiner-body-center-card-right {
  width: 45%;
}
.conteiner-body-center-card-right .card-logo {
  background: url("img/logo.svg");
  width: 180px;
  height: 62px;
  background-size: contain;
}
.conteiner-body-center-card-right .card-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #848e9f;
  margin: 20px 0px;
}
.conteiner-body-center-card-right .card-text p {
  overflow: hidden;
  height: 136px;
}
.conteiner-body-center-card-right .card-link a {
  font-size: 16px;
  font-weight: 700;
  color: #4b4b4b;
}
.conteiner-body-center-card-right .card-link a i {
  margin-left: 5px;
}
@media screen and (max-width: 1024px) {
  .container-body-top {
    height: 550px;
    margin-top: 80px;
  }
  .conteiner-body-top-header p {
    font-size: 35px;
  }
  .conteiner-body-center {
    width: 50%;
    height: 400px;
    top: 140px;
  }
  .conteiner-body-center-card-left {
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    height: 300px;
    width: 65%;
    margin-right: 50px;
  }

  .conteiner-body-center-card-right {
    width: 45%;
  }
  .conteiner-body-center-card-right .card-logo {
    background: url("img/logo.svg");
    width: 180px;
    height: 62px;
    background-size: contain;
  }
  .conteiner-body-center-card-right .card-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #848e9f;
    margin: 20px 0px;
  }
  .conteiner-body-center-card-right .card-text p {
    overflow: hidden;
    height: 136px;
  }
  .conteiner-body-center-card-right .card-link a {
    font-size: 16px;
    font-weight: 700;
    color: #4b4b4b;
  }
  .conteiner-body-center-card-right .card-link a i {
    margin-left: 5px;
  }
}
@media screen and (max-width: 800px) {
  .container-body-top {
    height: 450px;
    margin-top: 180px;
  }
  .conteiner-body-top-header p {
    font-size: 30px;
  }
  .conteiner-body-center {
    width: 70%;
    height: 400px;
    top: 80px;
  }
}
@media screen and (max-width: 550px) {
  .conteiner-body-top-header p {
    margin-top: 30px;
  }
  .container-body-top {
    height: 750px;
    margin-top: 50px;
  }
  .conteiner-body-center {
    width: 100%;
    height: 500px;
    align-items: center;
    flex-direction: column;
    top: 120px;
    margin-bottom: 50px;
  }
  .conteiner-body-center-card-right .card-logo {
    display: none;
  }
  .conteiner-body-center-card-left {
    height: 300px;
    width: 80%;
    margin-right: 0px;
  }
  .conteiner-body-center-card-right {
    width: 80%;
  }
}
/* conteiner card body top end */
/* conteiner card body center  */

/* Owl second slider */
.owlsecond .owl-slider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: 350px;
}
.owlsecond .owl-nav {
  position: absolute;
  display: flex;
  top: -40px;
  right: 20%;
}
.owlsecond button {
  background: #ffffff !important;
  border: 1px solid #707070 !important;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}
.owlsecond button:hover {
  background: #00598d !important;
  color: #ffffff !important;
}

/* Owl second slider end*/

.conteiner-body-center-slider {
  position: relative;
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .conteiner-body-center-slider {
    left: 0px;
  }
}
.conteiner-body-center-slider-button {
  position: absolute;
  left: 18%;
  width: 80%;
  top: -50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .conteiner-body-center-slider-button {
    left: 3%;
    width: 80%;
  }
  .owlsecond .owl-nav {
    position: absolute;
    display: flex;
    top: -40px;
    right: 8%;
  }
}
.conteiner-body-center-slider-button .conteiner-body-center-slider-top-left h2 {
  font-family: "Quicksand", sans-serif;
  color: #00598d;
  font-size: 30px;
  font-weight: 700;
}
.conteiner-body-center-slider-button .conteiner-body-center-slider-top-right {
  display: flex;
  justify-content: space-between;
}
.conteiner-body-center-slider-button
  .conteiner-body-center-slider-top-right
  .slider-arrow-button-left
  button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 50%;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.conteiner-body-center-slider-button
  .conteiner-body-center-slider-top-right
  .slider-arrow-button-right
  button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 50%;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

.conteiner-body-center-slider-button
  .conteiner-body-center-slider-top-right
  button:hover {
  background: #00598d;
  color: #ffffff;
}
/* conteiner center slider bottom */
.conteiner-body-center-slider-bottom {
  width: 100%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.conteiner-center-slider-content-first {
  background: #d5fddb;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
}
.conteiner-center-slider-content-second {
  background: rgb(238, 235, 235);
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
}
.conteiner-center-slider-content-third {
  background: rgb(238, 235, 235);
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
}

.conteiner-center-text-div {
  height: 50%;
  padding: 5px;
}
.conteiner-center-user-div {
  height: 50%;
  display: flex;
  padding: 20px 10px;
  align-items: flex-end;
}
.conteiner-center-user-div .conteiner-center-user-img {
  background: url("img/userpic.png");
  width: 50px;
  height: 50px;
  background-size: contain;
}
.conteiner-center-user-div .conteiner-center-user-img-second {
  background: url("img/userpic2.png");
  width: 50px;
  height: 50px;
  background-size: contain;
}
.conteiner-center-user-div .conteiner-center-user-img-third {
  background: url("img/userpic3.png");
  width: 50px;
  height: 50px;
  background-size: contain;
}
.conteiner-center-user-div p {
  text-align: center;
  align-items: center;
  padding-left: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}
.conteiner-center-user-info .conteiner-center-user-name {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}
.conteiner-center-user-info .conteiner-center-user-date {
  font-size: 14px;
  color: #707070;
  font-weight: 500;
  margin-left: 5px;
}
@media screen and (max-width: 800px) {
  .conteiner-center-slider-content-first {
    width: 250px;
    margin-left: 5px;
  }
  .conteiner-center-slider-content-second {
    width: 250px;
    margin-left: 5px;
  }
  .conteiner-center-slider-content-third {
    width: 250px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 550px) {
  .conteiner-body-center-slider-button {
    width: 40%;
  }
  .conteiner-body-center-slider-bottom {
    width: 100%;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 500px;
  }
  .conteiner-center-slider-content-first {
    width: 90%;
    height: 300px;
    margin-left: 5px;
  }
  .conteiner-center-text-div {
    height: 60%;
    padding: 5px;
    font-size: 22px;
  }
  .conteiner-center-user-div .conteiner-center-user-img {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .conteiner-center-user-info p {
    font-size: 28px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .conteiner-center-slider-content-second {
    display: none;
  }
  .conteiner-center-slider-content-third {
    display: none;
  }
  .conteiner-bottom-slider {
    margin-top: 150px;
  }
}
/* conteiner center slider bottom end */

.conteiner-bottom-slider {
  position: relative;
  width: 100%;
  height: 570px;
  justify-content: center;
  align-items: center;
}
.conteiner-bottom-slider-header {
  width: 100%;
  text-align: center;
}
.conteiner-bottom-slider-header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #20325f;
}
.conteiner-bottom-slider-header p {
  font-size: 16px;
  font-weight: 700;
  color: #707070;
  margin-top: 30px;
}
.conteiner-bottom-slider-content {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.conteiner-bottom-slider-content .conteiner-bottom-slider-content-left {
  height: 400px;
  border-radius: 10px;
  margin: 0px 5px;
  background: url("img/humanleft.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.conteiner-bottom-slider-content .conteiner-bottom-slider-content-right {
  height: 400px;
  border-radius: 10px;
  margin: 0px 5px;
  background: url("img/humanright.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
}

@media screen and (max-width: 550px) {
}

/* slider third */
.owlthird {
}

.owlthird .owl-item {
}
/* slider third end */

/* conteiner card body center end */
/* conteiner body info form */

.conteiner-body-info-form-header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 50px;
  margin-bottom: 50px;
  top: 50px;
}
.conteiner-body-info-form-header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #20325f;
}
.conteiner-body-info-form-header p {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #a0a0a0;
}
@media screen and (max-width: 550px) {
  .conteiner-body-info-form-header {
    /* margin-top: 70px; */
  }
}
/* conteiner body info form  */

.conteiner-user-form-cover {
  position: relative;
  background: url("img/bgmap.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover 80%;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
}
.turizm-mobil-cover {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.turizm-mobil {
  position: absolute;
  background: url("img/turizm-mobil.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 766px;
  width: 354px;
  padding: 20px;
  top: 130px;
}

.turizm-mobil h1 {
  margin: 30px 0px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.turizm-mobil p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.turizm-btn {
  position: absolute;
  z-index: 5;
  top: 800px;
  width: 122px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  background: #3867a8;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
}
.turizm-btn a {
  color: #ffffff;
}
.turizm-btn a i {
  margin-left: 5px;
}
.conteiner-user-form-content {
  position: absolute;
  width: 100%;
  margin-top: 250px;
  height: 800px;
  display: flex;
  justify-content: center;
}
.conteiner-user-form-left {
  width: 500px;
  height: 500px;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
  padding: 18px;
  box-shadow: -3px 3px 15px #707070;
}
.conteiner-user-form-left h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0e204d;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.conteiner-user-form-left p {
  font-size: 15px;
  font-weight: 400;
  color: #848e9f;
  line-height: 20px;
}
.conteiner-user-form-left-form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.conteiner-user-form-left-form-element-group-1,
.conteiner-user-form-left-form-element-group-2,
.conteiner-user-form-left-form-element-group-3,
.conteiner-user-form-left-form-element-group-4 {
  justify-content: space-around;
  display: flex;
  margin-top: 15px;
}
.conteiner-user-form-left-form-element-group-4 .input-icon-last input {
  background: #00598d;
  color: #ffffff;
}
.conteiner-user-form-left-form-element-group-4 .input-icon-last input:hover {
  background: #146fa3;
}

.conteiner-user-form-left-form-element select,
input {
  width: 220px;
  height: 50px;
  outline: none;
  border: 1px solid #707070;
  border-radius: 30px;
}
.conteiner-user-form-left-form-element select {
  appearance: none;
  cursor: pointer;
  background: #ffffff url("img/arrow.png") no-repeat;
  background-position: 180px 50%;
}
.conteiner-user-form-left-form-element-group-4 .randevuBtn {
  width: 430px;
  height: 50px;
  outline: none;
  border: 1px solid #707070;
  border-radius: 30px;
}
form .input-icon select,
input {
  padding-left: 30px;
}

form .input-icon {
  position: relative;
}
form .input-icon-last {
  position: relative;
}
form .input-icon i {
  position: absolute;
  left: 3px;
  top: 7px;
  padding: 9px 8px;
  color: #707070;
}
form .input-icon-last i {
  position: absolute;
  right: 110px;
  bottom: 7px;
  padding: 9px 8px;
  color: #ffffff;
}
.conteiner-user-form-right {
  position: relative;
  width: 500px;
  height: 500px;
  background: #eceaea;
  border-radius: 0px 5px 5px 0px;
  justify-content: center;
  box-shadow: 5px 5px 15px #707070;
}
.conteiner-user-form-right-bg {
  position: absolute;
  background: #44bd55;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  left: 30px;
  top: 40px;
  width: 80%;
  height: 80%;
  padding: 40px;
  border-radius: 0px 15px 15px 15px;
  overflow: hidden;
}
.conteiner-user-form-right-bg h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
}

.conteiner-user-form-right-bg p {
  padding-top: 10px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
.conteiner-user-form-right-bg p i {
  margin-right: 10px;
}
.conteiner-user-form-right-bg a {
  margin-top: 30px;
  text-decoration: none;
  color: #ffffff;
}
.conteiner-user-form-right-bg a i {
  margin-left: 5px;
}

@media screen and (max-width: 1024px) {
  .conteiner-user-form-cover {
    background-size: 95%;
    width: 100%;
    height: 800px;
  }
  .conteiner-user-form-content {
    width: 90%;
    left: 50px;
    height: 470px;
  }
  .conteiner-user-form-left h3 {
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  .conteiner-user-form-left-form-element {
    height: 350px;
    margin-top: 0px;
  }
  .conteiner-user-form-right-bg {
    font-size: 14px;
    padding: 15px;
    padding-left: 50px;
  }
  .conteiner-user-form-right-bg h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .conteiner-user-form-cover {
    background-size: contain;
    width: 100%;
    height: 750px;
  }
  .conteiner-user-form-content {
    width: 90%;
    height: 470px;
    align-items: center;
    flex-direction: column;
  }
  .conteiner-user-form-left h3 {
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  .conteiner-user-form-left-form-element {
    height: 350px;
    margin-top: 0px;
  }
  .conteiner-user-form-right {
    display: none;
  }
  .conteiner-user-form-right-bg {
    font-size: 14px;
    padding: 15px;
    padding-left: 50px;
  }
  .conteiner-user-form-right-bg h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .conteiner-user-form-cover {
    background-size: 120%;
    height: 900px;
  }
  .conteiner-user-form-content {
    display: none;
    /* margin-top: 100px;
    left: 30px; */
  }
  .turizm-mobil-cover {
    display: flex;
    flex-direction: column;
  }
}

/* conteiner body info form end */
/* media slider */
.conteiner-bottom-media-slider-cover {
  position: relative;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.conteiner-bottom-media-slider-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 10%;
  right: 10%;
  margin-top: 30px;
}
.conteiner-bottom-media-slider-top-left h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 37px;
  font-weight: 700;
  color: #20325f;
}
.conteiner-bottom-media-slider-top-left p {
  font-size: 16px;
  font-weight: 400;
  color: #848e9f;
  margin-top: 10px;
}
.conteiner-bottom-media-slider-top-right {
  display: flex;
  justify-content: space-between;
}
.conteiner-bottom-media-slider-top-right button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 50%;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.conteiner-bottom-media-slider-top-right button:hover {
  background: #00598d;
  color: #ffffff;
}
/* slider bottom content media */

.conteiner-bottom-media-slider-content {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.conteiner-bottom-media-slider-content-media {
  position: absolute;
  width: 80%;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.conteiner-bottom-media-slider-content-left,
.conteiner-bottom-media-slider-content-right {
  width: 50%;
  height: 200px;
  display: flex;
}
.conteiner-bottom-media-slider-content-left-img {
  width: 235px;
  height: 273px;
  background: url("img/imgmakale1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.conteiner-bottom-media-slider-content-right-img {
  width: 235px;
  height: 273px;
  background: url("img/imgmakale2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.conteiner-bottom-media-slider-content-left-text,
.conteiner-bottom-media-slider-content-right-text {
  padding: 20px;
  width: 100%;
}
.conteiner-bottom-media-slider-content-left-text h4,
.conteiner-bottom-media-slider-content-right-text h4 {
  padding-bottom: 10px;
  color: #26365e;
  font-size: 21px;
  font-weight: 700;
}
.conteiner-bottom-media-slider-content-left-text h6,
.conteiner-bottom-media-slider-content-right-text h6 {
  padding-bottom: 10px;
  color: #00598d;
  font-size: 14px;
  font-weight: 400;
}
.conteiner-bottom-media-slider-content-left-text p,
.conteiner-bottom-media-slider-content-right-text p {
  overflow: hidden;
  height: 95px;
  margin-top: 15px;
  color: #848e9f;
  font-size: 15px;
  font-weight: 400;
}
.conteiner-bottom-media-slider-content-left-text button,
.conteiner-bottom-media-slider-content-right-text button {
  width: 135px;
  height: 41px;
  border-radius: 20px;
  background: #00598d;
  margin-top: 55px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 1024px) {
  .conteiner-bottom-media-slider-content-media {
    width: 70%;
  }
  .conteiner-bottom-media-slider-content-left-text,
  .conteiner-bottom-media-slider-content-right-text {
    padding: 8px;
  }
  .conteiner-bottom-media-slider-content-left-text button,
  .conteiner-bottom-media-slider-content-right-text button {
    margin-top: 15px;
  }
  .conteiner-bottom-media-slider-content-left-text h4,
  .conteiner-bottom-media-slider-content-right-text h4 {
    padding-bottom: 0px;
    color: #26365e;
    font-size: 21px;
    font-weight: 700;
  }
  .conteiner-bottom-media-slider-content-left-text h6,
  .conteiner-bottom-media-slider-content-right-text h6 {
    padding-bottom: 0px;
    color: #00598d;
    font-size: 14px;
    font-weight: 400;
  }
  .conteiner-bottom-media-slider-content-left-text p,
  .conteiner-bottom-media-slider-content-right-text p {
    overflow: hidden;
    height: 65px;
    margin-top: 0px;
    color: #848e9f;
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (max-width: 800px) {
  .conteiner-bottom-media-slider-content {
    left: 150px;
    top: -50px;
    width: 80%;
  }
  .conteiner-bottom-media-slider-content-media {
    width: 95%;
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  .conteiner-bottom-media-slider-content {
    height: 550px;
    left: 50px;
    top: -150px;
    width: 80%;
  }
  .conteiner-bottom-media-slider-content-media {
    width: 95%;
    height: 200px;
  }
  .conteiner-bottom-media-slider-content-left-img {
    width: 100%;
    height: 214px;
    background: url("img/imgmakale1mobil.png");
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .conteiner-bottom-media-slider-content-left {
    width: 100%;
    height: 566px;
    display: flex;
    flex-direction: column;
  }
  .conteiner-bottom-media-slider-content-left-text,
  .conteiner-bottom-media-slider-content-right-text {
    padding-top: 20px;
    width: 100%;
  }
  .conteiner-bottom-media-slider-content-left-text,
  .conteiner-bottom-media-slider-content-right-text h6 {
    font-size: 12px;
  }
  .conteiner-bottom-media-slider-content-left-text,
  .conteiner-bottom-media-slider-content-right-text h4 {
    font-size: 19px;
  }
  .conteiner-bottom-media-slider-content-left-text,
  .conteiner-bottom-media-slider-content-right-text p {
    font-size: 14px;
    height: 85px;
  }
  .conteiner-bottom-media-slider-content-left-text button,
  .conteiner-bottom-media-slider-content-right-text button {
    margin-top: 45px;
  }
  .conteiner-bottom-media-slider-content-right {
    display: none;
  }
}
/* media slider end*/
/* turizm info */
.conteiner-bottom-turizm-info {
  position: relative;
  width: 100%;
  height: 700px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.conteiner-bottom-turizm-info-content {
  position: absolute;
  background: url("img/turizm.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1178px;
  height: 589px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
}
.conteiner-bottom-turizm-info-content h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 65px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
}
.conteiner-bottom-turizm-info-content p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  width: 450px;
  padding-top: 50px;
}
@media screen and (max-width: 1024px) {
  .conteiner-bottom-turizm-info {
    height: 500px;
  }
  .conteiner-bottom-turizm-info-content {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
  }
  .conteiner-bottom-turizm-info-content p {
    padding-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .conteiner-bottom-turizm-info {
    height: 400px;
    right: 10px;
  }
  .conteiner-bottom-turizm-info-content {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
  }
  .conteiner-bottom-turizm-info-content h1 {
    font-size: 35px;
  }
  .conteiner-bottom-turizm-info-content p {
    font-size: 16px;
    padding-top: 10px;
    width: 350px;
    overflow: hidden;
  }
}
@media screen and (max-width: 550px) {
  .conteiner-bottom-turizm-info {
    display: none;
  }
}

/* turizm info end */
/*referans info */
.conteiner-bottom-referans {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.conteiner-bottom-referans-header {
  position: absolute;
  width: 80%;
  margin-bottom: 150px;
  margin-left: 150px;
}
.conteiner-bottom-referans-header h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #0e204d;
}
.conteiner-bottom-referans-content {
  position: absolute;
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 60px;
}
.conteiner-bottom-referans-content #active:hover {
  background: #f5f5f5;
}
.conteiner-bottom-referans-content-item-1 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}
.conteiner-bottom-referans-content-item-2 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}
.conteiner-bottom-referans-content-item-3 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}
.conteiner-bottom-referans-content-item-4 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}
.conteiner-bottom-referans-content-item-5 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}
.conteiner-bottom-referans-content-item-6 {
  background-repeat: no-repeat;
  background-position: contain;
  width: 180px;
  height: 50px;
  padding: 15px;
}

@media screen and (max-width: 550px) {
  .conteiner-bottom-referans-header {
    text-align: center;
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .conteiner-bottom-referans-header {
    margin-left: 90px;
  }
  .conteiner-bottom-referans-content-item-1 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-2 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-3 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-4 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-5 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-6 {
    width: 100px;
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  .conteiner-bottom-referans-header {
    margin-left: 50px;
  }
  .conteiner-bottom-referans-content-item-1 {
    display: none;
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-2 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-3 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-4 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-5 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-6 {
    display: none;
    width: 100px;
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .conteiner-bottom-referans-header {
    margin-left: 0px;
  }
  .conteiner-bottom-referans-content-item-1 {
    display: none;

    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-2 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-3 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-4 {
    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-5 {
    display: none;

    width: 100px;
    padding: 10px;
  }
  .conteiner-bottom-referans-content-item-6 {
    display: none;
    width: 100px;
    padding: 10px;
  }
}
/* referans info end */
/* footer */
.footer-cover {
  position: relative;
  width: 100%;
  height: 570px;
  display: flex;
  background: #44bd55;
}
.footer-content {
  position: absolute;
  justify-content: space-evenly;
  background: #00598d;
  width: 100%;
  height: 500px;
  margin-top: 15px;
  padding: 100px;
  display: flex;
}
.footer-content-list h5 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-content-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.footer-content-list .footer-social-adress ul li {
  display: inline-block;
}
.footer-content-list .footer-social-adress ul li a {
  display: block;
  padding-top: 20px;
  padding-right: 10px;
  font-size: 22px;
}
.footer-content-list .footer-social-adress ul li a:hover {
  color: #44bd55;
}
.footer-content-list-cover {
  position: absolute;
  justify-content: space-evenly;
  background: #00598d;
  width: 100%;
  height: 300px;
  margin-top: 15px;
  padding: 100px;
  display: flex;
  top: 0;
}
.footer-content-list-mobil {
  display: none;
}
.footer-content-buttons-cover {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
}
.footer-content-buttons {
  display: flex;
}

.footer-content-buttons-left:hover a {
  color: #44bd55;
}
.footer-content-buttons-left:hover i {
  color: #44bd55;
}
.footer-content-buttons-right:hover a {
  color: #44bd55;
}
.footer-content-buttons-right:hover i {
  color: #44bd55;
}

.footer-content-buttons a {
  width: 180px;
  height: 50px;
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  color: #00598d;
  margin: 10px;
}
.footer-content-buttons a i {
  margin-right: 10px;
  font-size: 22px;
  color: #00598d;
}

.footer-bottom {
  position: absolute;
  bottom: 10px;
  display: flex;
  left: 400px;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 50px;
}
.footer-bottom a {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
}
.footer-bottom-content {
  border-right: 1px solid #7e7a7ab0;
}
.footer-bottom-content:last-child {
  border: none;
}
.footer-bottom-content-mobil {
  display: none;
}
.footer-social-adress-mobil {
  position: absolute;
  display: none;
  justify-content: center;
  margin: 30px 0px;
  width: 100%;
  bottom: 0;
  font-size: 22px;
}
.footer-social-adress-mobil ul li {
  display: inline-block;
}
.footer-social-adress-mobil ul a {
  display: block;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .footer-cover {
    height: 470px;
  }
  .footer-content {
    height: 400px;
  }
  .footer-content-list-cover {
    top: -10px;
  }
  .footer-bottom {
    bottom: 10px;
    left: 220px;
    width: 60%;
    height: 50px;
  }
}
@media screen and (max-width: 800px) {
  .footer-cover {
    height: 470px;
    display: flex;
    background: #44bd55;
  }
  .footer-content {
    margin-top: 30px;

    height: 400px;
  }
  .footer-content-list-cover {
    top: -40px;
    height: 200px;
  }
  .footer-bottom {
    position: absolute;
    bottom: 0px;
    display: flex;
    left: 60px;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 50px;
  }
  .footer-content-buttons-cover {
    bottom: 10px;
  }
}
@media screen and (max-width: 550px) {
  .footer-cover {
    height: 670px;
    display: flex;
    background: #44bd55;
  }
  .footer-content {
    align-items: center;
    height: 590px;
  }
  .footer-content-list {
    top: 0px;
  }
  .footer-content-list ul {
    display: none;
  }
  .footer-content-list-cover {
    position: absolute;
    flex-direction: column;
    top: 30px;
    text-align: center;
    line-height: 30px;
  }

  .footer-bottom-content:first-child {
    display: none;
  }

  .footer-bottom-content-mobil {
    display: flex;
    width: 80%;
    height: 30px;
    margin: 20px;
  }
  .footer-social-adress-mobil {
    display: flex;
    letter-spacing: 15px;
  }
  .footer-content-list-mobil {
    font-family: "Quicksand" sans-serif;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
  }
  .footer-content-list-mobil p {
    font-family: "Roboto" sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
  }
  .footer-content-buttons-cover {
    bottom: 100px;
  }
  .footer-content-buttons a {
    width: 170px;
    margin: 3px;
  }
}
/* footer end */
/* modal menu */
.modal-menu {
  text-align: center;
  position: relative;
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #00598d;
}
.closebtn {
  position: absolute;
  background: url("img/modalclose.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 30px;
}
.modal-ul-list {
  line-height: 30px;
  margin-bottom: 20px;
}
.modal-ul-list ul li a {
  font-family: "Roboto" sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.telefonno {
  color: #ffffff;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
}
.telefonno h3 {
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.telefonno p {
  font-family: "Quicksand" sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.btn-modal-menu {
  display: flex;
}
.btn-modal-menu a {
  display: flex;
  color: #00598d;
}
.btn-modal-menu a i {
  margin-right: 10px;
  font-size: 22px;
  color: #00598d;
}
.btn-modal-menu-left,
.btn-modal-menu-right {
  width: 170px;
  height: 50px;
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  margin: 10px;
}
.btn-modal-menu-left:hover a {
  color: #44bd55;
}
.btn-modal-menu-left:hover i {
  color: #44bd55;
}
.btn-modal-menu-right:hover a {
  color: #44bd55;
}
.btn-modal-menu-right:hover i {
  color: #44bd55;
}
.modal-social {
  margin-top: 20px;
}
.modal-social ul li {
  display: inline-block;
}
.modal-social ul li a {
  display: block;
  letter-spacing: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.modal-social ul li a:hover {
  color: #44bd55;
}
/* modal menu end */
/* modal randevu menu  */
.modal-menu-randevu {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -50px;
}
.form-modal-closebtn {
  position: absolute;
  right: 0;
  top: 50px;
  margin: 40px;
  width: 30px;
  height: 30px;
  background: url("img/modalclose.svg");
  background-color: #00598d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;
  border-radius: 50%;
}
.form-modal-modal-text {
  padding-left: 30px;
}
.form-modal-modal-text h1 {
  font-family: "Quicksand" sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0e204d;
  line-height: 30px;
  margin-bottom: 20px;
}
.form-modal-modal-text p {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #848e9f;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-modal-conteiner-user-form-left-form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.form-modal-input-icon-last #form-modal-input-icon-last-input {
  position: absolute;
  background: #00598d;
  color: #ffffff;
  width: 250px;
  left: 30px;
  margin-top: 20px;
}
.form-modal-input-icon-last input:hover {
  background: #146fa3;
}

.form-modal-conteiner-user-form-left-form-element select,
.form-modal-conteiner-user-form-left-form-element input {
  width: 300px;
  height: 50px;
  outline: none;
  border: 1px solid #707070;
  border-radius: 30px;
}
.form-modal-conteiner-user-form-left-form-element select {
  appearance: none;
  cursor: pointer;
  background: #ffffff url("img/arrow.png") no-repeat;
  background-position: 260px 50%;
}
.form-modal-randevuBtn {
  width: 430px;
  height: 50px;
  outline: none;
  border: 1px solid #707070;
  border-radius: 30px;
}
form .form-modal-input-icon select,
input {
  padding-left: 30px;
}

form .form-modal-input-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
form .form-modal-input-icon-last {
  position: relative;
}
form .form-modal-input-icon i {
  position: absolute;
  left: 7px;
  top: 10px;
  padding: 9px 8px;
  color: #707070;
}
form .form-modal-input-icon-last i {
  position: absolute;
  right: 50px;
  bottom: -62px;
  padding: 9px 8px;
  color: #ffffff;
}

/* modal randevu menu end */
/* Swiper js */
.swiper {
  width: 600px;
  height: 600px;
  left: 60px;
}

.swiper-pagination {
  position: absolute;
  display: flex;
  width: 30%;
  height: 100px;
  /* left: 200px !important; */
  justify-content: center;
  bottom: 90px !important;
}
@media screen and(max-width: 425px) {
}
.swiper-pagination span {
  background: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #00598d;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 50px !important;
  background: #00598d !important;
}
@media screen and (max-width: 800px) {
  .swiper {
    left: 0px;
  }
  .swiper-pagination {
    /* left: 250px !important; */
  }
}
@media screen and (max-width: 550px) {
  .swiper {
    left: 0px;
  }
}

.swiper1 {
  width: 100% !important;
  height: 600px;
  position: absolute !important;
  top: 50px !important;
}
.swiper-arrow {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.swiper-button-prev {
  left: 10px !important;
  right: auto !important;
  width: 30px !important;
  height: 30px !important;
  background: #ffffff !important;
  border: 1px solid #707070 !important;
  border-radius: 50% !important;
  line-height: 30px !important;
  align-items: center !important;
  text-align: center !important;
  margin-right: 5px !important;
  cursor: pointer !important;
}
.swiper-button-prev i {
  color: #707070 !important;
}
.swiper-button-next i {
  color: #707070 !important;
}
.swiper-button-prev:hover {
  color: #ffffff !important;
  background: #00598d !important;
}
.swiper-button-prev i:hover {
  color: #ffffff !important;
}
.swiper-button-next:hover {
  color: #ffffff !important;
  background: #00598d !important;
}
.swiper-button-next i:hover {
  color: #ffffff !important;
}
.swiper-button-next {
  right: 0px !important;
  left: auto !important;
  width: 30px !important;
  height: 30px !important;
  background: #ffffff !important;
  border: 1px solid #707070 !important;
  border-radius: 50% !important;
  line-height: 30px;
  align-items: center !important;
  text-align: center !important;
  margin-right: 5px !important;
  cursor: pointer !important;
}
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev:after {
  font-family: none !important;
}
.swiper-button-next:after {
  content: "" !important;
}
.swiper-button-next:after {
  font-family: none !important;
}
/* Swiper JS end */
