* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
}
ul,
li,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.header-top-info-cover {
  height: 60px;
  align-items: center !important;
  padding-top: 10px;
  justify-content: space-between;
}
.header-top-info-text {
  font-size: 18px;
  line-height: 22px;
  color: #bababa;
}
.header-top-info {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #bababa;
  justify-content: end;
}
@media screen and (min-width: 1200px) {
  .header-top-info-cover .offset-xl-2 {
    margin-left: 13.66666667%;
  }
}
.header-top-info span {
  color: #919191;
  font-weight: 700;
}
.header-top-info-cover ul li {
  display: inline-block;
}
.header-top-info-cover ul li a {
  color: #bababa;
  display: block;
}
.vr {
  height: 33px;
}
.header-top-info a {
  color: #bababa;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
.header-top-info select {
  color: #bababa;
  position: relative;
  font-size: 13px;
  line-height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  top: -10px !important;
}
#randevubtn-mobil {
  display: none;
}
.modalmenu-mob {
  display: none;
}
.infobarlogo {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-top-info-cover ul {
    display: none;
  }
  .header-top-info a {
    display: none;
  }

  .select {
    display: none;
  }
  .header-top-info-text {
    display: none;
  }
  .infobarlogo {
    display: flex;
    height: 41px;
  }
  .header-top-info-text-cover {
    width: 50%;
  }
  .header-top-info {
    width: 202px;
    margin-right: 10px;
  }
  #randevubtn-mobil {
    display: flex;
    color: #2b92d3;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }
  #randevubtn-mobil i {
    font-size: 26px;
    padding-right: 10px;
    color: #2b92d3;
  }
  .modalmenu-mob {
    display: flex;
    width: 22px;
    height: 30px;
    margin-left: 20px;
  }
}
/* Swiper js */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-geri {
  left: 281px !important;
  color: #bababa !important;
  font-size: 1px !important;
  height: 45px !important;
}
.swiper-ileri {
  right: 139px !important;
  color: #bababa !important;
  font-size: 1px !important;
  height: 45px !important;
}
.swiper-ileri:active {
  color: #00598d !important;
}
.swiper-geri:active {
  color: #00598d !important;
}
.swiper-slide img {
  height: 800px !important;
}
.swiper-first-peg {
  position: absolute;
  bottom: 90px !important;
}
.swiper-first-peg .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #ffffff !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(132, 156, 163, 0) !important;
}
.swiper-first-peg .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
}
@media screen and (max-width: 1440px) {
  .swiper-geri {
    left: 40px !important;
  }
  .swiper-ileri {
    right: 20px !important;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-geri {
    left: 10px !important;
  }
  .swiper-ileri {
    right: 10px !important;
  }
}

/* Slider Menu top */
.container-logo {
  width: 180px;
  height: 62px;
}
@media screen and (max-width: 1024px) {
  .container-logo {
    width: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .randevu-btn {
    margin-left: 0px;
  }
}

.container-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.container-list li {
  display: inline-block;
}
.container-list li a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #213360;
}
.container-list li a:hover {
  color: #44bd55;
}
.randevu-btn {
  background: #44bd55;
  outline: none;
  border: none;
  border-radius: 26px;
  width: 148px;
  height: 51px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 60px;
}

.randevu-btn i {
  margin-right: 15px;
  font-size: 22px;
}
.slider-menu-top {
  position: relative;
  top: -770px;
  z-index: 9999;
}
@media screen and (max-width: 1024px) {
  .randevu-btn {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .container-logo {
    display: none;
  }

  .randevu-btn {
    margin-left: -10px;
    width: 135px;
  }
}
/* slider text */

.slider-text-cover {
  position: relative;
  z-index: 9999;
  top: -560px;
}
.slider-text {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  color: #00598d;
  margin-left: 45px;
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    height: 600px !important;
  }
  .slider-text-cover {
    top: -360px;
  }
}
@media screen and (max-width: 450px) {
  .swiper-slide img {
    height: 400px !important;
  }
  .slider-text-cover {
    top: -260px;
  }
}
.slider-bottom-menu {
  position: relative;
  z-index: 9999;
  top: -290px;
}
.tedavi-content-cover {
  box-shadow: 0px 5px 30px rgb(47 76 88 / 6%);
}
.tedavi-content {
  background-color: #ffffff;
  border-right: 1px solid #f5f5f5;
}
.tedavi-content p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #4b4b4b;
  padding: 30px;
  padding-top: 35px;
  margin-right: 30px;
  padding-left: 10px;
}
.tedavi-content img {
  padding-left: 20px;
  /* width: 60px; */
  height: 60px;
  margin-top: 35px;
}
.t-c-first {
  border-radius: 10px 0px 0px 10px;
}
.t-c-third {
  width: 230px;
}
.t-c-third img,
p {
  /* padding-left: 10px !important; */
}
.t-c-last {
  color: #ffffff;
  background-color: #44bd55;
  border-radius: 0px 10px 10px 0px;
  padding: 30px;
}
.t-c-last p {
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.arrow-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 10px solid rgba(33, 51, 96, 0.1);
  margin-left: -65px;
  margin-top: 10px;
}
.arrow-box i {
  color: #44bd55;
  font-size: 25px;
  line-height: 70px;
}
.slider-bottom-menu-mobil-cover {
  display: none;
}
.slider-bottom-menu-mobil {
  height: 160px;
  width: 329px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(9, 29, 62, 0.08);
}
@media screen and (max-width: 450px) {
  .slider-bottom-menu-mobil {
    /* margin-left: 50px; */
  }
  .swiper-first-peg {
    bottom: 70px !important;
  }
}
@media screen and (max-width: 390px) {
  .slider-bottom-menu-mobil {
    /* margin-left: 30px; */
  }
}
.slider-bottom-menu-mobil img {
  padding-right: 10px;
  height: 60px;
  width: 50px;
}
.arrow-box-mobil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 6px solid rgba(33, 51, 96, 0.1);
  margin-left: -18px;
  margin-top: 15px;
  margin-right: 5px;
}
.arrow-box-mobil a {
  font-size: 24px;
  color: #44bd55;
}
.div-mob-top-f,
.div-mob-top-s,
.div-mob-bottom-f,
.div-mob-bottom-s {
  padding-right: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #4b4b4b;
  font-weight: 700;
}

.div-mob-top-f,
.div-mob-top-s p {
  padding-top: 10px;
}
.div-mob-top-f > img {
  height: 40px;
}
.div-mob-bottom-f p {
  margin-left: 0px;
  margin-top: 10px;
}
.div-mob-bottom-s p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  color: #ffffff;
  padding-right: 22px;
}
.div-mob-bottom-s {
  background-color: #44bd55;
  border-radius: 0px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
  .slider-bottom-menu-mobil-cover {
    position: relative;
    display: flex;
    top: 160px;
    margin-bottom: 130px;
    justify-content: center;
  }
  .slider-text {
    font-size: 26px;
    line-height: 35px;
    margin-left: 15px;
  }
  .slider-bottom-menu-web {
    display: none;
  }
}
.video-header {
  position: relative;
  top: -211px;
}
.video-header-text {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #00598d;
}
.video-header-text span {
  color: #00598d;
  background: #dcf0fc;
  border-radius: 10px;
  z-index: -2;
}
@media screen and (max-width: 450px) {
  .video-header-text {
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
  }
}
.video-content {
  margin-top: -107px;
  margin-bottom: 200px;
}
.img-video-container-cover {
  position: relative;
}

.img-video-container .video-bg {
  height: 380px;
  width: 580px;
}
.img-video-content {
  position: absolute;
  display: flex;
}
.img-video-content a {
  position: absolute;
  display: flex;
  top: -80px;
  left: 40px;
  color: #ffffff;
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
}
.img-video-content a i {
  font-size: 36px;
  padding-right: 16px;
}
.koltuk {
  position: absolute;
  top: -35px;
  height: 65px;
  width: 64px;
  right: -560px;
}
.bg-light-blue {
  position: absolute;
  right: 12px;
  top: -68px;
  width: 336px;
  height: 336px;
  background-color: #2b92d3;
  opacity: 10%;
  border-radius: 32px 32px 0 32px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .bg-light-blue {
    right: -180px;
  }
}
@media screen and (max-width: 768px) {
  .bg-light-blue {
    right: -280px;
  }
}
@media screen and (max-width: 767px) {
  .bg-light-blue {
    right: -80px;
  }
}

.video-content-logo {
  margin-bottom: 30px;
}
.video-second p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #848e9f;
  width: 445px;
  margin-bottom: 40px;
}
.video-second a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #4b4b4b;
  word-spacing: 15px;
}

/* second swiper */
.second-slider-container {
  position: relative;
  top: -100px;
}
.second-swiper-header p {
  font-family: "Quicksand", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  color: #00598d;
}
.second-swiper-arrows-button {
  position: relative;
  right: 0;
  top: 50%;
}
.swiper-second-wrap {
  margin-top: 60px;
}
.swiper-second-prev {
  position: absolute;
  left: 500px !important;
  width: 57px !important;
  height: 57px !important;
  background: #ffffff;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;
  border-radius: 50% !important;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .swiper-second-prev {
    left: 800px !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-second-prev {
    left: 550px !important;
  }
}
@media screen and (max-width: 550px) {
  .four-slider {
    margin-top: 85px;
  }
  .img-video-container {
    margin-left: 20px;
    margin-bottom: 50px;
  }

  .swiper-second-prev {
    left: 340px !important;
  }
  .img-video-container .video-bg {
    height: 220px;
    width: 335px;
  }
  .bg-light-blue {
    top: -30px;
    right: 30px;
    width: 166px;
    height: 166px;
  }
  .img-video-content a {
    top: -60px;
    left: 20px;
  }
  .koltuk {
    position: absolute;
    top: -35px;
    height: 65px;
    width: 64px;
    right: -310px;
  }
  .video-second p {
    width: 350px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 450px) {
  .img-video-container {
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .img-video-container .video-bg {
    height: 220px;
    width: 335px;
  }
  .bg-light-blue {
    top: -30px;
    right: 30px;
    width: 166px;
    height: 166px;
  }
  .img-video-content a {
    top: -60px;
    left: 20px;
  }
  .koltuk {
    position: absolute;
    top: -35px;
    height: 65px;
    width: 64px;
    right: -310px;
  }
  .video-second p {
    width: 350px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 390px) {
  .bg-light-blue {
    right: 10px;
  }
}
.swiper-second-prev i {
  color: #c4c4c4;
}
.swiper-second-prev:hover {
  background: #00598d;
  color: #ffffff;
  border: none;
}
.swiper-second-prev:hover i {
  color: #ffffff;
}
.swiper-second-prev::after {
  display: none;
}
.swiper-second-next {
  width: 57px !important;
  height: 57px !important;
  background: #ffffff;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;
  border-radius: 50% !important;
  cursor: pointer;
}
.swiper-second-next i {
  color: #c4c4c4;
}
.swiper-second-next:hover {
  background: #00598d;
  color: #ffffff;
  border: none;
}
.swiper-second-next:hover i {
  color: #ffffff;
}
.swiper-second-next::after {
  display: none;
}
.second-swiper-content-card {
  width: 480px;
  height: 319px;
  border-radius: 8px;
  background: rgba(196, 196, 196, 0.11);
  border: none;
}
.second-swiper-content-card:hover {
  background: rgba(68, 189, 85, 0.08);
}
.second-swiper-content-card .card-first-text {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  line-height: 23px;
  color: #000000;
  padding: 40px 20px;
}
.card-content {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 30px;
  left: 24px;
}
.card-content img {
  width: 73px;
  height: 73px !important;
  border-radius: 50%;
}
.card-content-text {
  position: absolute;
  width: 150px;
  left: 45px;
  bottom: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content-text h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000000;
}
.card-content-text p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000000;
  opacity: 50%;
}
@media screen and (max-width: 450px) {
  .second-swiper-arrows-button {
    right: 200px;
    top: -50px;
  }
  .swiper-second-next {
    border: 1px solid #c4c4c4;
  }
  .swiper-second-prev {
    border: 1px solid #c4c4c4;
  }
  .swiper-second-next i {
    color: #c4c4c4;
    font-size: 14px;
  }
  .swiper-second-prev i {
    color: #c4c4c4;
    font-size: 14px;
  }
  .swiper-second-prev {
    left: 525px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .swiper-second-next {
    right: -200px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .second-swiper-header p {
    font-size: 27px;
    line-height: 34px;
  }
}
@media screen and (max-width: 390px) {
  .swiper-second-prev {
    left: 500px !important;
  }
}
/* Third Slider */
.Third-Slider-header {
  text-align: center;
}
.Third-Slider-header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #20325f;
}
.Third-Slider-header p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #a0a0a0;
}
.myThirdSwiper-cover {
  --bs-gutter-x: 120px;
}

.third-swiper-item {
  width: 580px;
  border-radius: 8px;
  margin-top: 70px;
}
.third-swiper-item img {
  height: 394px !important;
}
.third-Slider-peg-cover {
  position: relative;
  margin-top: 40px;
  height: 60px !important;
}
.third-Slider-peg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-Slider-peg .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #00598d !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: #ffffff !important;
}
.third-Slider-peg .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #00598d !important;
  border: 1px solid #00598d !important;
}
@media screen and (max-width: 450px) {
  .third-swiper-item img {
    height: 225px !important;
    border-radius: 8px;
  }
  .myThirdSwiper-cover {
    --bs-gutter-x: 50px;
  }
}
/* iletişim form */
.form-cover {
  position: relative;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
  height: 595px;
  top: -300px;
}
.turizm-content-mobil {
  display: none;
}

.iletisim-form-header {
  margin-top: 125px;
}
.iletisim-form-header h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #20325f;
}
.iletisim-form-header p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #a0a0a0;
  text-align: center;
}

.my-card-text {
  position: relative;
  padding-left: 60px;
  top: 80px;
}

.my-card h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1px;
  text-align: left;
  color: #0e204d;
}
.my-card p {
  font-family: "Roboto", sans-serif;
  width: 470px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #848e9f;
  margin-top: 30px;
}
.conteiner-user-form-left-form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  height: 400px;
}
.conteiner-user-form-left-form-element-group-1,
.conteiner-user-form-left-form-element-group-2,
.conteiner-user-form-left-form-element-group-3,
.conteiner-user-form-left-form-element-group-4 {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}
form .input-icon {
  position: relative;
  margin: 0px 15px;
}
form .input-icon i {
  position: absolute;
  left: 10px;
  top: 13px;
  padding: 9px 8px;
  color: #d7d8da;
}
form .input-icon select,
input {
  padding-left: 40px;
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
form .input-icon select,
input::placeholder {
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
.conteiner-user-form-left-form-element select {
  appearance: none;
  cursor: pointer;
  background: #ffffff url("../img/arrow.png") no-repeat !important;
  background-position: 210px 50% !important;
}
.conteiner-user-form-left-form-element select,
input {
  width: 250px;
  height: 60px;
  outline: none;
  background: #ffffff;
  border: 2px solid #e6e8eb;
  border-radius: 30px;
  cursor: pointer;
}
.conteiner-user-form-left-form-element select:hover,
input:hover {
  border: 1px solid #fff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
}
.conteiner-user-form-left-form-element-group-4 .input-icon-last input {
  background: #00598d;
  color: #ffffff;
}
form .input-icon-last i {
  position: absolute;
  right: 210px;
  bottom: 18px;
  padding: 9px 8px;
  color: #ffffff;
}
.conteiner-user-form-left-form-element-group-4 .randevuBtn {
  width: 530px;
  height: 71px;
  outline: none;
  border-radius: 35px;
  box-shadow: 2px 2px 6px rgba(3, 21, 50, 0.05);
}
.form-right {
  background: linear-gradient(
    to right,
    rgba(29, 42, 77, 0.08),
    rgba(29, 42, 77, 0)
  );
}
.form-text-cover {
  position: relative;
  left: 70px;
  top: 70px;
  width: 440px;
  height: 475px;
  border-radius: 0px 22px 22px 22px;
  background: #44bd55;
}
.form-text {
  padding-left: 30px;
}
.form-text-cover h3 {
  padding-left: 60px;
  padding-top: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  color: #ffffff;
}
.form-text-cover p {
  padding-left: 60px;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 30px; */
  color: #ffffff;
  width: 350px;
}
.form-iletisim-text {
  padding-top: 30px;
  margin-bottom: 50px;
}
.form-iletisim-text i {
  margin-right: 10px;
}
.form-text-cover a {
  margin-left: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.bgmap {
  margin-top: 20px;
  padding-left: 200px;
}
.outher-form {
  height: 900px;
}
@media screen and (max-width: 1024px) {
  .my-card-text {
    padding-left: 0px;
  }
  form .input-icon {
    margin: 0px 5px;
  }
  .conteiner-user-form-left-form-element select,
  input {
    width: 200px;
  }
  .conteiner-user-form-left-form-element select {
    background: #ffffff url("../img/arrow.png") no-repeat !important;
    background-position: 160px 50% !important;
  }
  .conteiner-user-form-left-form-element-group-4 .randevuBtn {
    width: 430px;
    height: 71px;
    outline: none;
    border-radius: 35px;
    box-shadow: 2px 2px 6px rgb(3 21 50 / 5%);
  }
  .form-text-cover {
    left: 20px;
  }
  .outher-form {
    height: 700px;
  }
  .turizm-content h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 82px;
    color: #ffffff;
    padding-left: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .outher-form {
    display: none;
  }
  .container-list {
    display: none;
  }
  .randevu-btn {
    display: none;
  }
  .swiper-ileri {
    display: none !important;
  }
  .swiper-geri {
    display: none !important;
  }
  .website-map ul {
    display: none;
  }
  .iletisim-form-header {
    margin-top: 20px;
  }
  .container-turizm {
    display: none;
  }
}

/* Four Swiper */
.four-slider {
  margin-top: -160px;
}
.four-slider-header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 54px;
  color: #20325f;
}
.four-slider-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #848e9f;
}
.swiper-four-prev,
.swiper-four-next {
  margin-top: -50px !important;
}
.four-swiper-content {
  display: flex;
  border-radius: 10px;
  border: 1px solid #fff;
}
.four-swiper-content:hover {
  border: 1px solid #e2e2e2;
}
.four-swiper-content-img img {
  width: 235px;
  height: 273px !important;
}
.four-swiper-content-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 15px;
}
.four-swiper-content-text .four-content-text-f-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #00598d;
  margin-top: 15px;
}
.four-swiper-content-text h4 {
  font-size: 21px;
  font-family: "Quicksand", sans-serif;
  line-height: 32px;
  font-weight: 700;
  color: #26365e;
  margin-top: -20px;
  padding-bottom: 30px;
}
.four-content-text-s-p {
  height: 80px;
  overflow: hidden;
  font-size: 15px;
  line-height: 25px;
  color: #848e9f;
  margin-bottom: 25px;
}
.four-swiper-content-text button {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  width: 135px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  outline: none;
  border: none;
  color: #00598d;
  font-size: 15px;
}
.four-swiper-content-text button:hover {
  background: #00598d;
  color: #ffffff;
  box-shadow: 2px 2px 6px rgba(3, 21, 50, 0.05);
}
.four-swiper-content-text button i {
  padding-left: 8px;
  font-size: 15px;
  line-height: 40px;
}
@media screen and (max-width: 550px) {
  .four-slider {
    margin-top: 85px;
  }
  .social-footer-mobil {
    margin-left: 150px;
  }
  .four-slider-header {
    margin-bottom: 30px;
  }
  .four-slider-header h1 {
    font-size: 27px;
    line-height: 54px;
  }
  .four-slider-header p {
    margin-top: -15px;
  }
  .turizm-content-mobil-content {
    margin-left: 80px;
    width: 390px;
  }
  .swiper-four-prev,
  .swiper-four-next {
    margin-top: -100px !important;
  }
}
@media screen and (max-width: 450px) {
  .swiper-four-prev,
  .swiper-four-next {
    margin-top: -50px !important;
  }
  .four-slider {
    margin-top: 85px;
  }
  .four-slider-header {
    margin-bottom: 30px;
  }
  .four-slider-header h1 {
    font-size: 27px;
    line-height: 54px;
  }
  .four-slider-header p {
    margin-top: -15px;
  }
}
/* Turizm content */
.container-turizm {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.turizm-content-cover {
  position: relative;
}
.turizm-content {
  position: absolute;
  top: 0;
}
.turizm-content h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 82px;
  color: #ffffff;
  padding-left: 55px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.turizm-content p {
  width: 580px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
  padding-left: 55px;
}
.turizm-content button {
  position: absolute;
  left: 880px;
  bottom: -20px;
  background: #00598d;
  color: #ffffff;
  box-shadow: 2px 2px 6px rgba(3, 21, 50, 0.05);
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  width: 135px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
}
.turizm-content button i {
  padding-left: 8px;
  font-size: 15px;
  line-height: 40px;
}
@media screen and (max-width: 1024px) {
  .turizm-content h1 {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .turizm-content button {
    left: 620px;
    bottom: -10px;
  }
}
/* last Swiper */
.last-swiper-cont {
  margin-bottom: 80px;
}
.last-swiper-header h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #0e204d;
  text-align: left;
}
.last-swiper-slide img {
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 90px !important;
  object-fit: contain !important;
}
.last-swiper-slide:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}
/* footer */
.footer-top {
  background-color: #44bd55;
  height: 10px;
}
.website-map-cover {
  background-color: #00598d;
}
.website-map div {
  padding-top: 60px;
}
.website-map div h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.website-map ul {
  padding-top: 15px;
}
.website-map div ul li a {
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  color: #eaeaea;
}
.website-map div ul li a:hover {
  color: #44bd55;
}
.footer-social-adress {
  padding-top: 0px !important;
}
.footer-social-adress ul li {
  display: inline-block;
}
.footer-social-adress ul li a {
  display: block;
  letter-spacing: 25px;
}
.footer-button-cover {
  margin-top: 85px;
}
.footer-button {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #00588b;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.2);
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.footer-button p {
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 700;
}
.footer-button i {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.footer-button:hover {
  color: #1ca73a;
}
.footer-button-p {
  padding-top: 10px;
}
.footer-info {
  background-color: #44bd55;
  height: 55px;
}
.footer-info-content {
  margin-top: 15px;
  height: 20px;
  border-right: 1px solid #1ca73a;
}
.footer-info-content a {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff !important;
  cursor: pointer;
}
.website-map-mobil {
  display: none;
}
@media screen and (max-width: 768px) {
  .last-swiper-header {
    margin-top: 40px;
  }
  .last-swiper-header h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .website-map {
    display: none;
  }
  .website-map-mobil {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .website-map-mobil ul li {
    margin-top: 30px;
    padding: 10px;
  }
  .website-map-mobil ul li a {
    font-size: 20px;
    font-weight: 700;
    color: #eaeaea;
    line-height: 24px;
  }
  .website-map-mobil h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefe;
    line-height: 51px;
  }
  .website-map-mobil p {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
  }
}
.footer-info-mobil {
  display: none;
}
.footer-info-mobil-bottom {
  display: none;
}
.social-footer-mobil {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer-info-web {
    display: none;
  }
  .footer-info-mobil {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-mobil {
    border-right: 1px solid #1ca73a;
    height: 21px;
    margin-top: 10px;
  }
  .info-mobil a {
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff;
  }
  .footer-info-mobil-bottom {
    display: flex;
  }
  .info-mobil-bottom {
    height: 45px;
  }
  .info-mobil-bottom p {
    padding-top: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #848484;
  }
  .social-footer-mobil {
    display: flex;
    padding-bottom: 45px;
    margin-top: 60px;
    margin-left: 250px;
  }
  .social-footer-mobil ul li {
    display: inline-block;
    letter-spacing: 30px;
  }
  .social-footer-mobil ul li a {
    display: block;
    font-size: 22px;
    color: #ffffff;
  }
}
@media screen and (max-width: 550px) {
  .social-footer-mobil {
    margin-left: 150px;
  }
  .footer-button {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 450px) {
  .social-footer-mobil {
    margin-left: 110px;
  }
}
.modal-menu-randevu-con {
  display: none;
  height: 100vh;
}
.modal-menu-randevu {
  margin-left: 180px;
}
.form-modal-closebtn {
  width: 40px;
  height: 40px;
  background: url("../img/modalclose.svg");
  background-color: #00598d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 460px;
  cursor: pointer;
}

.modal-menu-randevu h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0e204d;
  padding-top: 65px;
  padding-left: 10px;
}
.modal-menu-randevu p {
  font-size: 14px;
  font-weight: 400;
  color: #848e9f;
  line-height: 22px;
  width: 300px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 45px;
}
.form-modal-input-icon {
  position: relative;
}
.form-modal-input-icon select {
  width: 355px;
  height: 50px;
  border-radius: 30px;
  padding-left: 40px;
  background-color: #ffffff;
  border: 2px solid #e6e8eb;
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 50px;
  appearance: none;
  cursor: pointer;
  background: #ffffff url("../img/arrow.png") no-repeat !important;
  background-position: 315px 50% !important;
}
.form-modal-input-icon input {
  width: 355px;
  height: 50px;
  border-radius: 30px;
  padding-left: 40px;
  background-color: #ffffff;
  border: 2px solid #e6e8eb;
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.form-modal-input-icon select:hover {
  border: none;
  box-shadow: 0px 5px 20px rgba(9, 29, 62, 0.2);
}
.form-modal-input-icon input:hover {
  border: none;
  box-shadow: 0px 5px 20px rgba(9, 29, 62, 0.2);
}
.form-modal-input-icon i {
  position: absolute;
  left: 10px;
  top: 8px;
  padding: 9px 8px;
  color: #d7d8da;
}
.form-modal-input-icon-last {
  position: relative;
  margin-left: 45px;
}
.form-modal-input-icon-last-input {
  width: 260px;
  height: 55px;
  border-radius: 35px;
  background-color: #00598d;
  box-shadow: 2px 2px 6px rgba(3, 21, 50, 0.05);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding-left: 0;
}

.form-modal-input-icon-last i {
  position: absolute;
  left: 210px;
  top: 10px;
  padding: 9px 8px;
  color: #ffffff;
}
.modal-menu-randevu-cons {
  background-color: #00598d;
  display: none;
  height: 100vh;
  padding-left: 40px;
}
.closebtn {
  background: url("../img/modalclose.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 660px;
}
.mod-list-top {
  text-align: center;
  padding-top: 80px;
}
.mod-list-top ul li a {
  font-size: 20px;
  line-height: 55px;
  font-weight: 700;
  color: #eaeaea;
}
.mod-list-top h3 {
  font-size: 20px;
  line-height: 51px;
  font-weight: 700;
  color: #eaeaea;
  margin-top: 50px;
}
.mod-list-top p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #eaeaea;
}
.mod-list-bottom {
  text-align: center;
}
.mod-list-bottom ul li {
  display: inline-block;
}
.mod-list-bottom ul li a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 0px 20px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .iletisim-form-header p {
    font-size: 14px;
  }
  .four-swiper-content {
    display: flex;
    flex-direction: column;
  }
  .four-swiper-content-img img {
    width: 100%;
    height: 273px !important;
    background-position: center center;
    object-fit: fill;
    border-radius: 10px;
  }
  .turizm-content-mobil {
    display: flex;
  }
  .Third-Slider-header h1 {
    font-size: 27px;
  }
  .Third-Slider-header p {
    font-size: 14px;
  }
  .Third-Slider-header {
    margin-bottom: -20px;
  }
  .third-Slider-peg-cover {
    margin-top: 0px;
  }
  .iletisim-form-header h1 {
    font-size: 27px;
  }
  .turizm-content-mobil-content {
    background-image: url("../img/turizm-mobil.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 766px;
  }
  .turizm-content-mobil-img {
    background-image: url("../img/bgmap.png");
    background-repeat: no-repeat;
    background-position: 30% -40px;
    height: 250px;
  }
  .turizm-content-mobil-content h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 41px;
    padding-top: 30px;
    padding-left: 10px;
    color: #ffffff;
  }
  .turizm-content-mobil-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
    width: 322px;
    height: 178px;
    margin-bottom: 410px;
  }
  .turizm-content-mobil-content button {
    background: #00598d;
    color: #ffffff;
    box-shadow: 2px 2px 6px rgb(3 21 50 / 5%);
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    width: 122px;
    height: 37px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 13px;
    margin-left: 100px;
  }
}
/* @media screen and (max-width: 600px) {
  .bg-light-blue {
    right: 0px;
    top: -40px;
  }
  .img-video-container .video-bg {
    height: 380px;
    width: 480px;
  }
  .koltuk {
    right: -460px;
  }
  .swiper-second-prev {
    left: 380px !important;
  }
} */
@media screen and (max-width: 450px) {
  .turizm-content-mobil-content {
    margin-left: 30px;
    width: 390px;
  }
  .footer-button-cover {
    margin-top: 35px;
  }
}
@media screen and (max-width: 390px) {
  .turizm-content-mobil-content {
    margin-left: 10px;
    width: 370px;
  }
}
@media screen and (max-width: 450px) {
  .modal-menu-randevu {
    margin-left: 15px;
  }
  .closebtn {
    margin-left: 360px;
  }
  .form-modal-closebtn {
    margin-left: 340px;
  }
  .modal-menu-randevu-cons {
    padding-left: 0px;
  }
  .video-content-logo {
    margin-left: 15px;
  }
}
@media screen and (max-width: 390px) {
  .modal-menu-randevu {
    margin-left: 0px;
    width: 370px;
  }
  .header-top-info {
    width: 185px;
    margin-right: 10px;
  }
  #randevubtn-mobil i {
    font-size: 26px;
    padding-right: 4px;
    color: #2b92d3;
  }
  .form-modal-closebtn {
    margin-left: 320px;
  }
  .footer-button {
    margin-left: 10px;
  }
  .closebtn {
    margin-left: 340px;
  }
  #randevubtn-mobil {
    font-size: 14px;
  }
  .social-footer-mobil {
    margin-left: 90px;
  }
  .video-content-logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 350px) {
  .slider-bottom-menu-mobil {
    width: 350px;
  }
  .slider-bottom-menu-mobil {
    margin-left: 0px;
  }
  .div-mob-top-f,
  .div-mob-top-s,
  .div-mob-bottom-f,
  .div-mob-bottom-s {
    padding-right: 15px;
  }
  .video-second p {
    width: 340px;
  }
  .swiper-second-prev {
    left: 455px !important;
  }
  .turizm-content-mobil-content {
    margin-left: 5px;
    width: 340px;
  }
  .img-video-container {
    margin-left: 0px;
  }
  .bg-light-blue {
    right: -5px;
  }
  .modal-menu-randevu {
    margin-left: 0px;
    width: 370px;
  }
  .form-modal-closebtn {
    margin-left: 320px;
  }
  .footer-button {
    margin-left: 10px;
  }
  .closebtn {
    margin-left: 340px;
  }
  #randevubtn-mobil {
    font-size: 10px;
  }

  .social-footer-mobil {
    margin-left: 70px;
  }
  .video-content-logo {
    margin-left: 10px;
  }
}
