* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}
ul,
li,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  margin: 10px 10px;
}

/* header en üst menü */
.header-top {
  display: flex;
  justify-content: center;
}
.header-top-content-left-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}
.header-top-content-left p {
  color: #707070;
  opacity: 0.4;
  margin-right: 650px;
  text-align: center;
}
.header-top-content-left em {
  font-weight: 700;
}
.header-top-content-right {
  margin-left: 100px;
  border-right: 1px solid #707070;
  opacity: 0.4;
}
.header-top-content-right ul li {
  display: inline-block;
}
.header-top-content-right ul li a {
  display: block;
  padding: 5px 10px;
  color: #707070;
}
.header-top-content-right-end {
  padding: 5px;
  opacity: 0.4;
}
.header-content-right-end img {
  margin-right: 5px;
}
.header-top-content-right-end select {
  padding: 5px;
  outline: 0px;
  border: 0px;
  border: none;
}
/* header en üst menü bitiş */
/* Slider Div */
.conteiner-slider {
  background: url("img/bgimg.png");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.conteiner-slider-top-opacity {
  width: 100%;
  height: 30px;
  background: #ffffff;
  opacity: 0.5;
}
.slider-top-menu {
  display: flex;
  justify-content: space-around;
  line-height: center;
}
.slider-top-menu-logo {
  width: 180px;
  height: 62px;
  background-image: url("img/logo.svg");
  margin-top: 7px;
}
.slider-top-menu ul li {
  display: inline-block;
}
.slider-top-menu ul li a {
  display: block;
  padding: 20px;
}
.slider-top-menu ul li a {
  color: #213360;
  font-weight: 500;
}
#first {
  color: #44bd55;
}
.slider-top-menu-btn {
  width: 148px;
  height: 51px;
  text-align: center;
  line-height: 45px;
  background: #44bd55;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin-top: 7px;
  letter-spacing: 0.05rem;
}
.slider-top-menu-btn a {
  color: #ffffff;
}
.slider-top-menu-btn a i {
  font-size: 20px;
}
.container-slider-text {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #00598d;
  line-height: 80px;
}
/* slider center */
.slider-center-content {
  margin-top: 100px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.slider-center-content-arrow-left a {
  color: #707070;
  font-size: 40px;
}

.slider-center-content-arrow-right a {
  color: #707070;
  font-size: 40px;
  margin-left: 500px;
}
