@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/FuturaPTLight.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  height: 100vh;
  /* font-family: "FuturaPT", sans-serif !important; */
  /* font-family: "FuturaPT", sans-serif !important; */
  font-family: "Raleway", sans-serif !important;
  /* font-family: "Mulish", sans-serif; */
  /* font-family: "Open Sans Condensed", sans-serif !important; */
  cursor: none;
}
ul,
li,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none !important;
  cursor: none;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 86px 0px rgb(69 81 127 / 16%);
  transform: scale(0.5);
  transition: 0.4s;
}
.swiper-slide-active img {
  transform: scale(0.8);
}
.slider-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px 60px;
}
footer {
  padding: 60px 60px;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left > a {
  color: #222d36;
  font-size: 25px;
  margin-left: 70px;
}
.header-left > a:hover {
  color: #222d36;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right > ul {
  display: flex;
}
.header-right > ul li > a {
  font-size: 22px;
  margin-right: 25px;
  color: #222d36;
  display: inline-block;
  position: relative;
}

.header-right > ul li > a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #000;
  transition: width 0.3s;
}
.header-right > ul li > a:hover::after {
  width: 100%;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-left: 25px;
  font-size: 30px;
  margin-top: 3px;
  cursor: pointer;
}
.swiper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 600px;
  height: 600px; */
  height: 100%;
}
.slider-text {
  margin-left: -350px;
  /* width: 700px; */
  text-align: left;
}

.first-peg {
  /*position: absolute;*/
  /*bottom: 90px !important;*/
  right: 60px !important;
}

.first-peg .swiper-pagination-bullet {
  background: #074e9a;
  outline: none;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  /*border: 1px solid #ffffff !important;*/
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  /*background-color: rgba(132, 156, 163, 0) !important;*/
  margin-bottom: 30px !important;
}
/*.services-peg .swiper-pagination-bullet::before {
          content: "";
          border: 1px solid #fff !important;
          border-radius: 50%;
          width: 16px !important;
          height: 16px !important;
          position: absolute;
          left: -4px;
          top: 2px;
      }*/

.first-peg .swiper-pagination-bullet-active {
  background: #000000;
  outline: none;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 30px !important;
}

.first-peg .swiper-pagination-bullet-active::after {
  content: "" !important;
  border: 1px solid #000000 !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  /*position: absolute !important;*/
  position: relative;
  left: -6px !important;
  top: -6px !important;
  display: block;
}
.swiper-left-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 60px;
  position: absolute;
  height: 100%;
  z-index: 2;
}
.swiper-left-btn > a {
  border-width: 2px;
  color: #222d36;
  border-bottom: 0;
  transition: color 0.1s;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.swiper-left-btn-content {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(198, 198, 198, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-left-btn > a:hover {
  color: #222d36;
}
.swiper-left-btn > a:hover .swiper-left-btn-content-text {
  opacity: 1;
  transform: translate(0, 0);
}
.swiper-left-btn-content-text {
  background: #f3f3f3;
  border-radius: 0px 100px 100px 0px;
  height: 50px;
  box-sizing: border-box;
  margin-left: -14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 175px; */
  padding-left: 26px;
  opacity: 0;
  transition: transform 0.3s, opacity 0.1s;
  transform: translate(-35%, 0);
  z-index: -2;
  overflow: hidden;
  padding-right: 26px;
  width: 200px;
}
.swiper-left-btn-content-text > p {
  margin-bottom: 0px;
}
.slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 60px;
}
.slider-footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-footer-left > p {
  margin-bottom: 0px;
}
.slider-footer-left > a {
  color: #c1c3c5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slider-footer-left > a:hover {
  color: #074e9a;
  border-bottom: 1px solid #074e9a;
}
.slider-footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-footer-right > a {
  margin: 0 2rem 0 0;
  border: 1px solid #074e9a !important;
  padding: 10px 22px 10px;
  line-height: 1;
  text-decoration: none;
  border-radius: 40px;
  color: #000;
  /* cursor: pointer; */
}
.slider-footer-right > a:hover {
  color: #000;
}
.slider-footer-right > ul {
  display: flex;
  margin-bottom: 0px;
}
.slider-footer-right > ul li > a {
  color: #000;
  font-size: 20px;
  padding-right: 35px;
}
.about-main-top > .about-main-top-left > h1 {
  margin-top: 70px;
}
.about-main-top > .about-main-top-left > p {
  margin-top: 36px;
  /* width: 700px; */
}
.about-main-top-right-img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.about-main-bottom-main-bg {
  opacity: 0.5;
}
.about-main-top-right-img-cover > img {
  width: 80%;
  margin-top: 130px;
}
.about-main-top {
  display: flex;
  margin-top: -30%;
}
.top-img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  font-weight: 700;
  height: 101px;
  width: 117px;
  background: url("/img/ico-adv-xp.png") center no-repeat;
  margin-bottom: 35px;
}
.top-img-content > h6 {
  font-size: 14px;
}
.top-img-content > p {
  width: 300px;
}
.about-main-bottom {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  position: relative;
}
.about-main-bottom-main-bg > img {
  position: relative;
  width: 100%;
  object-fit: contain;
  opacity: 0.7;
}
.about-main-bottom-header {
  margin-top: 70px;
  margin-bottom: 36px;
  text-align: center;
}
.bottom-main-desc-inner-left,
.bottom-main-desc-inner-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.map-bottom-text-cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.map-bottom-text {
  width: 50%;
  text-align: center;
}
.about-main-bottom-main-desc {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
}
.bottom-main-desc-inner-left > p,
.bottom-main-desc-inner-right > p {
  width: 50%;
  font-size: 22px;
  text-align: center;
}
.about-main-bottom-main-desc-inner {
  display: flex;
  width: 100%;
}
.about-contact-cover {
  background: #f7f8fa;
  text-align: center;
  padding: 103px 0;
}
.perCirc {
  position: relative;
  text-align: center;
  width: 181px;
  height: 181px;
  border-radius: 100%;
  background-color: #074e9a2e;

  background-image: linear-gradient(
      188deg,
      transparent 50%,
      rgb(7, 78, 154) 50%
    ),
    linear-gradient(90deg, rgb(7, 78, 154) 50%, transparent 50%);
  margin: 0 auto;
}
.perCirc .perCircInner {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.about-contact > p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}
.about-contact > a {
  font-size: 5.625rem;
  line-height: 5.625rem;
  color: #222d36;
}
.about-contact > a:hover {
  color: #222d36;
}
.about-contact > .about-contact-btn {
  margin-top: 50px;
}
.about-contact > .about-contact-btn > a {
  color: #222d36;
  font-size: 1.875rem;
  text-decoration: none;
  padding: 11px 45px 15px;
  border-radius: 40px;
  letter-spacing: 0.01rem;
  border: 1px solid #074e9a;
}
.solition * {
  color: #fff !important;
  /* -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all; */
}
.solition .slider-footer-right > a {
  border: 1px solid #fff !important;
}
.solition .hamburger > span {
  background: #fff;
}
.solition .first-peg .swiper-pagination-bullet {
  background-color: #fff !important;
}
.solition .first-peg .swiper-pagination-bullet-active::after {
  content: "" !important;
  border: 1px solid #fff !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  /* position: absolute !important; */
  position: relative;
  left: -6px !important;
  top: -6px !important;
  display: block;
}
.secondSwiper .slider-text > h1 {
  font-size: 4.375rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.01rem;
  margin-bottom: 25px;
}
.secondSwiper .slider-text > p {
  margin-bottom: 35px;
  color: #fff;
  width: 700px;
}
.secondSwiper .slider-text > a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 14px 27px 15px;
  margin-top: 25px;
}

.secondSwiper .slider-text > a:hover {
  color: #000;
}
.references {
  padding: 60px 120px;
}
.references > h1 {
  margin-bottom: 30px;
  font-size: 4.375rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
}
.references > p {
  font-size: 20px;
  line-height: 26px;
  color: #222d36;
  font-weight: 300;
  letter-spacing: 0.01em;
  overflow-x: hidden;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}
.references-item-cover {
  display: flex;
  flex-flow: wrap;
}
.references-item {
  margin: 30px 15px 0px 15px;
  width: calc((100% - 46px * 3) / 3);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 86px 0px rgb(69 81 127 / 16%);
}

.references-item img {
  width: 100%;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(0, 9, 72, 0.19371498599439774) 75%,
    rgba(0, 2, 14, 0.8687850140056023) 100%
  );
  border-radius: 20px 20px 0px 0px;
}

.references-item > p {
  color: #a2a2a2;
  font-size: 20px;
  /* margin: 0 0 25px 0; */
  margin: 25px 0px;
  text-align: center;
}
.references-item > a {
  border: 0;
  font-weight: 500;
  color: #222e37;
  font-size: 25px;
  text-align: center;
}
.references-item-header {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.third-swiper-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 345px);
}
.sp-socrollbar {
  position: relative !important;
  max-width: 734px !important;
  height: 1px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: -50px !important;
}
#contact-modal {
  display: none;
  padding: 50px;
  min-height: 600px;
  width: 600px;
}
.contact-modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.swiper-third-content > img {
  transform: scale(1);
}
.contact-modal-form-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.contact-modal-form-top > label > input {
  height: 49px;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #dce2e6;
}

.contact-modal-form > label > textarea {
  width: 100% !important;
  min-height: 100px;
  border-color: #dce2e6;
}
.contact-modal-form > p {
  width: 300px;
}
.div-contanct-fomr-btn > a {
  display: block;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #074e9a;
  border-radius: 40px;
  background: transparent;
  padding: 13px 33px;
  cursor: pointer;
  outline: none;
  color: #000;
  width: 150px;
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: 18px !important;
  right: 23px !important;
  color: #000 !important;
}
.contact-modal-form > label > p {
  margin-top: 15px;
}
.hamburger > span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  vertical-align: bottom;
  background: #000;
  transition: background 0.2s 0.4s;
  margin-bottom: 5px;
}
.modal-menu {
  display: none;
  width: 100%;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-top: 23px;
}
.modal-menu > ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}
.modal-menu > ul li > a {
  position: relative;
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 0;
  padding: 0;
  color: #000;
  margin-right: 35px;
  line-height: 90px;
}
.modal-menu > ul li > a:hover {
  color: #000;
}
.modal-menu > ul li > a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  bottom: 40px;
  left: 0;
  margin: 0 auto;
  background: #074e9a;
  transition: width 0.3s;
}
.modal-menu > ul li > a:hover::after {
  width: 100%;
}
.modal-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
  margin-right: 35px;
}
.modal-menu-header > img {
  margin-left: 10px;
}
.modal-menu-header > i {
  font-size: 35px;
  cursor: pointer;
  margin-right: 10px;
}
.references-detail-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.detail-top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 20%;
  transform: translateX(-20%);
}

.detail-top-left > h1 {
  margin: 40px 0px;
}

.detail-top-left > p {
  width: 450px;
}
.reference-img-cover {
  position: relative;
}
.reference-img-cover.top-ref-img {
  overflow: hidden;
}

.reference-inner-img {
  position: absolute;
  top: 44px;
  right: 1px;
}
.references-detail-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.detail-bottom-right {
  /* margin-right: 5%;
  transform: translateX(-5%); */
  padding: 80px;
  position: relative;
  left: -150px;
}
.detail-bottom-right > h1 {
  margin: 40px 0px;
  color: #fff;
}
.detail-bottom-right > p {
  color: #fff;
  width: 450px;
}
.references-detail-top-cover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(190, 16, 16, 1) 50%
  );
}
.references-detail-mid-cover {
  position: relative;
  margin-left: 250px;
}
.references-detail-mid-content-header > h1 {
  font-size: 4.75rem;
  line-height: 4.375rem;
  margin-bottom: 34px;
  margin-top: 110px;
}
.mid-content-inner-header {
  display: flex;
  width: 100%;
}
.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(190, 16, 16, 1);
  line-height: 60px;
  text-align: center;
  margin-right: 35px;
  position: relative;
  top: -40px;
}
.ball > h1 {
  color: #fff;
}
.mid-content-inner-header > h1 {
  width: 60%;
}

.mid-content-inner-content > p {
  width: 60%;
  margin-bottom: 35px;
}
.references-detail-mid-content-inner {
  /* border-left: 1px solid #a2a2a2; */
  padding-bottom: 50px;
}

.references-detail-mid-content-header > p {
  margin-bottom: 34px;
}
.ball-end {
  left: -100px;
  top: 65px;
  background-color: #fff;
}
.ball-end > h1 {
  color: rgba(190, 16, 16, 1);
}
.sp-red {
  background-color: rgba(190, 16, 16, 1);
}
.sonuc-content {
  position: relative;
  margin-left: 250px;
}
.sonuc-header {
  width: 96%;
  margin-top: -50px;
}
.sonuc-content-list > img {
  width: 80%;
}
.sonuc-content .references-detail-mid-content-inner {
  border-left: none;
}
.sonuc-content-cover {
  background-color: rgba(190, 16, 16, 1);
  margin-top: -100px;
  padding: 100px 0px;
}
.sonuc-content-cover > * {
  color: #fff;
}
.sonuc-content-list {
  margin-left: 70px;
}
.sonuc-content-list > ul {
  display: flex;
  flex-wrap: wrap;
}
.sonuc-content-list > ul > li {
  margin-top: 35px;
  margin-right: 35px;
}
.contanct-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  align-content: center;
  padding: 70px 0px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}
.contact-right {
  border-radius: 20px;
  margin-right: 100px;
}
.contact-left {
  margin-left: 20%;
}
.contact-left > h1 {
  color: #d55557;
  margin-bottom: 25px;
}
.contact-left > h1 > i {
  margin-right: 15px;
}
.contact-left > p {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
}
.contact-info > label > h6 {
  color: #d55557;
  font-size: 16px;
}
.contact-right > iframe {
  border-radius: 80px;
}
.contact-info > label > p {
  margin-bottom: 10px;
}
.swiper-slide {
  background: none !important;
}
.swiper-slide .swiper-slide-active {
  transform: scale(1);
}
.mbl {
  display: none;
}

/*Özel cursor*/
.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 999;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -2px;
  left: -1px;
  animation: cursorAnim2 0.5s infinite alternate;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #074e9a;
}
.main-sslider-mobil-img {
  display: none !important;
}
.detail-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 60px 20%;
}
.detail-text-area > h1 {
  font-size: 4.375rem;
  line-height: 4.375rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  margin-bottom: 75px;
}
.detail-ul-cover > p {
  margin-bottom: 30px;
  font-size: 22px;
}

.detail-ul-cover > ul > li {
  list-style-type: disc;
  font-size: 20px;
  font-weight: 400;
  padding-left: 5px;
}
.detail-text-box > p {
  background: #f7f8fa;
  line-height: 1.9375rem;
  padding: 42px 60px;
  letter-spacing: 0.01rem;
}
.detail-inner-area {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.detail-inner-left-area {
  margin-right: 150px;
}
.detail-inner-right-area > h1 {
  font-size: 4.375rem;
  line-height: 4.375rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  margin-bottom: 35px;
  font-weight: 900;
}
.detail-inner-right-area {
  width: 50%;
}

.detail-inner-right-area > p {
  max-width: 100%;
}
.second-area {
  background-color: #f7f8fa;
}
.third-area {
  background-color: #e63342;
}
.third-text {
  color: #ffffff;
  padding: 60px 0%;
}
.third-text > h1 {
  margin-bottom: 30px;
}
.four-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.four-area-cover > .detail-text-area > img {
  width: 150px;
  margin-bottom: 30px;
}
.four-area-cover > .detail-text-area > h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.four-area-cover > .detail-text-area {
  padding: 60px 0%;
}
.four-area-cover > .detail-text-area > p {
  width: 80%;
}
.four-container {
  display: flex;
  flex-wrap: wrap;
}
.last-section-btn {
  margin: 0 2rem 0 0;
  border: 1px solid #fff !important;
  padding: 10px 22px 10px;
  line-height: 1;
  text-decoration: none;
  border-radius: 40px;
  color: #fff;
}
.last-section-btn:hover {
  color: #fff;
  border: 1px solid #fff !important;
}
.last-section-cover {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.last-section-content {
  position: relative;
  background-color: #f45458;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 150px 30px;
  color: #fff;
  width: 25%;
}
#card2 {
  background-color: #477bfe;
}
#card3 {
  background-color: #e63342;
}
.last-section-content > h1 {
  margin-bottom: 35px;
}
.last-section-content > p {
  margin-bottom: 35px;
}
#data1 {
  position: absolute;
  top: 60px;
  left: 40px;
}
#data2 {
  position: absolute;
  bottom: 60px;
  right: 40px;
}
.detail-inner-left-area > img {
  width: 100%;
}
.second-mockup > img {
  /* width: 100%; */
  width: 843px;
  position: relative;
  left: -115px;
  bottom: -100px;
}
.mid-content-inner-content > img {
  width: 60%;
  box-shadow: 0px 3px 86px 0px rgb(69 81 127 / 16%);
  margin-bottom: 100px;
}
#myfi-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(2, 87, 171, 1) 50%
  );
}
#myfi {
  background-color: #0257ab;
}
.myfiball > h1 {
  color: #0257ab;
}
#aileena-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(42, 46, 59, 1) 50%
  );
}
#aileena {
  background-color: #2a2e3b;
}
.aileenaball > h1 {
  color: #2a2e3b;
}
#goldeks-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(200, 161, 109, 1) 50%
  );
}
#goldeks {
  background-color: #c8a16d;
}
.goldeksball > h1 {
  color: #c8a16d;
}
#dentacenter-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(43, 146, 211, 1) 50%
  );
}
#dentacenter {
  background-color: #2b92d3;
}
.dentacenterball > h1 {
  color: #2b92d3;
}
#amphenol-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 83, 157, 1) 50%
  );
}
#amphenol {
  background-color: #00539d;
}
.amphenolball > h1 {
  color: #00539d;
}
#buzifood-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(207, 16, 24, 1) 50%
  );
}
#buzifood {
  background-color: #cf1018;
}
.buzifoodball > h1 {
  color: #cf1018;
}
#essenjet-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(235, 133, 30, 1) 50%
  );
}
#essenjet {
  background-color: #eb851e;
}
.essenjetball > h1 {
  color: #eb851e;
}
#on7-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(26, 26, 26, 1) 50%
  );
}
#on7 {
  background-color: #1a1a1a;
}
.on7ball > h1 {
  color: #1a1a1a;
}
#pinebi-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(82, 129, 155, 1) 50%
  );
}
#pinebi {
  background-color: #52819b;
}
.pinebiball > h1 {
  color: #52819b;
}

#miadent-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(68, 189, 85, 1) 50%
  );
}
#miadent {
  background-color: #44bd55;
}
.miadentball > h1 {
  color: #44bd55;
}
.top-ref-img > img {
  /* width: 100%; */
  width: 843px;
  position: relative;
  right: -80px;
}
/*Özel cursor son*/
@media screen and (max-width: 1440px) {
  .header-left > a {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1366px) {
  .header-left > a {
    margin-left: 5px;
  }
  .swiper-left-btn {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .detail-bottom-right {
    margin-right: 0%;
    transform: translateX(0%);
  }
  .detail-inner-right-area {
    width: 100%;
  }
  .detail-inner-right-area > h1 {
    font-size: 3.375rem;
    line-height: 3.375rem;
  }
  .detail-text-area > h1 {
    font-size: 3.375rem;
    line-height: 3.375rem;
  }
  .last-section-content {
    width: 33%;
  }
  .references-item {
    margin: 30px 15px 0px 15px;
    width: calc((150% - 46px * 3) / 3);
  }
  .swiper-slide img {
    height: 80%;
    object-fit: contain;
  }
  .header-left > a {
    margin-left: 0px;
    font-size: 16px;
  }
  .header-right > ul li > a {
    margin-right: 7px;
  }
  .hamburger {
    margin-left: 7px;
  }
  .header-right > ul {
    padding-left: 0px;
  }
  .swiper-left-btn {
    flex-direction: row;
    margin-left: 0px;
    bottom: 30px;
    width: 100%;
    height: 0px;
    left: 70px;
  }
  .swiper-left-btn > a {
    margin-left: 20px;
  }

  .header-right {
    padding-top: 15px;
  }
  .header-right > ul > .ul-menu {
    display: none;
  }
  .about-main-bottom-main-desc {
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .references-detail-bottom {
    justify-content: center;
  }
  .detail-bottom-right > h1 {
    margin: 40px 0px;
    color: #fff;
  }
  .references-detail-mid-cover {
    margin-left: 40px;
  }
  .sonuc-content {
    margin-left: 50px;
  }
  .detail-top-left {
    align-items: center;
    margin-left: 0%;
    transform: translateX(0%);
  }
  .second-mockup > img {
    display: none;
  }
  .reference-img-cover > img {
    display: none;
  }
  .four-area {
    flex-wrap: wrap;
  }
  .detail-inner-area {
    flex-direction: column;
  }
  .detail-inner-left-area {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .cursor {
    display: none;
  }
  .about-main-top {
    display: flex;
    margin-top: -20%;
  }
  .about-main-bottom-header {
    font-size: 22px;
  }
  .bottom-main-desc-inner-left > *,
  .bottom-main-desc-inner-right > * {
    font-size: 22px;
  }
  .bottom-main-desc-inner-left > p,
  .bottom-main-desc-inner-right > p {
    font-size: 16px;
  }
  .swiper-slide img {
    height: 50%;
    object-fit: contain;
  }
  .header-right > ul > .ul-menu {
    display: none;
  }
  .swiper-left-btn {
    display: none;
  }
  .swiper-content {
    width: 80%;
    flex-direction: column;
  }
  .slider-text {
    margin-left: 0px;
    width: 80%;
    text-align: center;
    margin-top: 35px;
  }
  .slider-footer-right {
    display: none;
  }
  header {
    padding: 20px 20px;
  }
  .slider-footer {
    padding: 20px 20px;
  }
  .about-main-top > p {
    margin-top: 36px;
    width: 80%;
  }
  .top-img-content-cover {
    margin-right: 6px;
  }
  .top-img-content-cover > p {
    width: 80%;
  }
  .about-contact > a {
    font-size: 3.625rem;
    line-height: 3.625rem;
  }
  .about-contact > .about-contact-btn > a {
    font-size: 1.4rem;
    padding: 10px 27px 12px;
  }
  .references {
    padding: 20px 20px;
  }
  .references > p {
    width: 80%;
    font-size: 18px;
  }
  .references-item-cover {
    justify-content: center;
  }
  .references-item > a > img {
    width: 100%;
  }
  .references > h1 {
    font-size: 2.375rem;
  }
  .sp-socrollbar {
    display: none;
  }
  .third-swiper-cover {
    height: calc(100vh - 190px);
  }
  .contanct-section {
    padding: 20px 0px;
    flex-direction: column;
  }
  .contact-left {
    margin-left: 0;
  }
  .contact-right {
    margin-right: 0px;
    margin-top: 35px;
  }
  .contact-right > iframe {
    border-radius: 40px;
    width: 100%;
  }
  .references-item {
    width: 100%;
  }
  .secondSwiper .slider-text > p {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .detail-top-left > p {
    width: 300px;
  }
  .sonuc-header {
    width: 80%;
  }
  .sonuc-content-list > ul {
    padding-left: 0px;
  }
  .detail-bottom-right > p {
    color: #fff;
    width: 300px;
  }
  .detail-text-box > p {
    background: #f7f8fa;
    line-height: var(--bs-body-line-height);
    padding: 42px 60px;
    letter-spacing: 0.01rem;
    max-height: 190px;
    overflow: hidden;
  }
  .last-section-content {
    width: 100%;
  }
  .secondSwiper .slider-text > h1 {
    font-size: 3.375rem;
  }
  .references-item {
    width: 100%;
  }
  .about-main-bottom-main-desc {
    top: 0%;
  }
  .about-main-top {
    margin-top: 0%;
  }
  .perCirc {
    width: 101px;
    height: 101px;
  }
  .perCirc .perCircInner {
    width: 60px;
    height: 60px;
  }
  .bottom-main-desc-inner-left > *,
  .bottom-main-desc-inner-right > * {
    font-size: 18px;
  }
  .bottom-main-desc-inner-left > *,
  .bottom-main-desc-inner-right > * {
    font-size: 16px;
  }
  .bottom-main-desc-inner-left > p,
  .bottom-main-desc-inner-right > p {
    font-size: 14px;
  }
  .first-peg {
    right: 0px !important;
    bottom: 0px !important;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: 50%;
    transform: translate3d(0px, -50%, 0);
    top: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .first-peg .swiper-pagination-bullet {
    margin-right: 25px !important;
  }
  .about-contact > a {
    font-size: 2.625rem;
    line-height: 2.625rem;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 50% !important;
    width: 50% !important;
    transform: translate(-50%) !important;
  }
  .modal-menu-header {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .swiper-slide img {
    height: 31%;
    object-fit: contain;
    background-color: transparent;
    width: 100%;
  }
  .swiper-content {
    width: 100%;
  }
  .header-left > a:nth-child(2) {
    display: none;
  }
  .slider-text {
    font-size: 16px;
  }
  .slider-footer {
    justify-content: center;
  }
  .modal-menu > ul li > a {
    font-size: 35px;
    margin-right: 65px;
    margin-left: 65px;
  }
  .about-contact-btn {
    display: none;
  }
  .mbl {
    display: block;
  }
  .main-slider-img {
    display: none !important;
  }
  .main-sslider-mobil-img {
    display: block !important;
  }
  .swiper-slide img {
    display: block;
    width: 315px;
    height: 100%;
    object-fit: contain;
    border-radius: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: none;
    transform: scale(0.5);
    transition: 0.4s;
    box-shadow: 0px 3px 86px 0px rgb(69 81 127 / 16%);
  }
  .swiper-slide-active img {
    transform: scale(0.8);
  }
  .swiper-third-content > img {
    transform: scale(1);
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .header-left > a {
    font-size: 12px;
  }
}
