* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100vh;
}
ul,
li,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-top-info-cover {
  height: 60px;
  align-items: center !important;
  padding-top: 10px;
}
.header-top-info-text {
  font-size: 18px;
  line-height: 22px;
  color: #bababa;
}
.header-top-info {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #bababa;
  /* justify-content: end; */
}
@media (min-width: 1200px) {
  .header-top-info-cover .offset-xl-2 {
    margin-left: 13.66666667%;
  }
}
.header-top-info span {
  color: #919191;
  font-weight: 700;
}
.header-top-info-cover ul li {
  display: inline-block;
}
.header-top-info-cover ul li a {
  color: #bababa;
  letter-spacing: 25px;
  display: block;
}
.vr {
  height: 33px;
}
.header-top-info a {
  color: #bababa;
  margin-left: 10px;
  margin-right: 10px;
}
.header-top-info select {
  color: #bababa;
  position: relative;
  font-size: 13px;
  line-height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  top: -10px !important;
}
/* Swiper js */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-geri {
  left: 281px !important;
  color: #bababa !important;
  font-size: 1px !important;
  height: 45px !important;
}
.swiper-ileri {
  right: 139px !important;
  color: #bababa !important;
  font-size: 1px !important;
  height: 45px !important;
}
.swiper-ileri:active {
  color: #00598d !important;
}
.swiper-geri:active {
  color: #00598d !important;
}
.swiper-slide img {
  height: 800px !important;
}
.swiper-first-peg {
  position: absolute;
  bottom: 90px !important;
}
.swiper-first-peg .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #ffffff !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(132, 156, 163, 0) !important;
}
.swiper-first-peg .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
}
/* Slider Menu top */
.container-logo {
  width: 180px;
  height: 62px;
}
.container-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.container-list li {
  display: inline-block;
}
.container-list li a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #213360;
}
.container-list li a:hover {
  color: #44bd55;
}
.randevu-btn {
  background: #44bd55;
  outline: none;
  border: none;
  border-radius: 26px;
  width: 148px;
  height: 51px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.randevu-btn i {
  margin-right: 15px;
  font-size: 22px;
}
.slider-menu-top {
  position: relative;
  top: -770px;
  z-index: 9999;
}
/* slider text */
.slider-text-cover {
  position: relative;
  z-index: 9999;
  top: -560px;
}
.slider-text {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  color: #00598d;
  margin-left: 45px;
}
.slider-bottom-menu {
  position: relative;
  z-index: 9999;
  top: -290px;
}
.tedavi-content-cover {
  position: relative;
  display: flex;
}
.tedavi-content-first {
  display: flex;
  width: 260px;
  height: 131px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  padding-right: 40px;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.08);
}
.tedavi-content {
  display: flex;
  width: 260px;
  height: 131px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.08);
}
.tedavi-content p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #4b4b4b;
  margin-left: 20px;
  margin-top: 18px !important;
}
.tedavi-content-first p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #4b4b4b;
  margin-left: 20px;
  margin-top: 18px !important;
}

.tedavi-content-arrow {
  position: absolute;
  width: 61px;
  height: 61px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(33, 51, 96, 1);
  border-radius: 50%;
  text-align: center;
  line-height: 61px;
  right: 150px;
  top: 37px;
}
.tedavi-content-arrow a {
  font-size: 28px;
  color: #44bd55;
}
.tedavi-content-last {
  width: 200px;
  height: 131px;
  background: #44bd55;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.05);
}
.tedavi-content-last p {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 38px !important;
}
/* video content */
.video-header {
  position: relative;
  top: -211px;
}
.video-header-text {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #00598d;
}
.video-header-text span {
  color: #00598d;
  background: #dcf0fc;
  border-radius: 10px;
  z-index: -2;
}
.video-content {
  margin-top: -107px;
  margin-bottom: 200px;
}
.img-video-container-cover {
  position: relative;
}
.img-video-container .video-bg {
  height: 380px;
  width: 580px;
}
.img-video-content {
  position: absolute;
  display: flex;
}
.img-video-content a {
  position: absolute;
  display: flex;
  top: -80px;
  left: 40px;
  color: #ffffff;
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
}
.img-video-content a i {
  font-size: 36px;
  padding-right: 16px;
}
.koltuk {
  position: absolute;
  top: -35px;
  height: 65px;
  width: 64px;
  right: -560px;
}
.bg-light-blue {
  position: absolute;
  right: 12px;
  top: -68px;
  width: 336px;
  height: 336px;
  background-color: #2b92d3;
  opacity: 10%;
  border-radius: 32px 32px 0 32px;
  z-index: -1;
}
.video-content-logo {
  margin-bottom: 30px;
}
.video-second p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #848e9f;
  width: 445px;
  margin-bottom: 40px;
}
.video-second a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #4b4b4b;
  word-spacing: 15px;
}
/* second swiper */
.second-slider-container {
  position: relative;
  top: -100px;
}
.second-swiper-header p {
  font-family: "Quicksand", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  color: #00598d;
}
.second-swiper-arrows-button {
  position: relative;
  right: 0;
  top: 50%;
}
.swiper-second-wrap {
  margin-top: 60px;
}
.swiper-second-prev {
  position: absolute;
  left: 500px !important;
  width: 57px !important;
  height: 57px !important;
  background: #ffffff;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;
  border-radius: 50% !important;
  cursor: pointer;
}
.swiper-second-prev i {
  color: #c4c4c4;
}
.swiper-second-prev:hover {
  background: #00598d;
  color: #ffffff;
  border: none;
}
.swiper-second-prev:hover i {
  color: #ffffff;
}
.swiper-second-prev::after {
  display: none;
}
.swiper-second-next {
  width: 57px !important;
  height: 57px !important;
  background: #ffffff;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;
  border-radius: 50% !important;
  cursor: pointer;
}
.swiper-second-next i {
  color: #c4c4c4;
}
.swiper-second-next:hover {
  background: #00598d;
  color: #ffffff;
  border: none;
}
.swiper-second-next:hover i {
  color: #ffffff;
}
.swiper-second-next::after {
  display: none;
}
.second-swiper-content-card {
  width: 480px;
  height: 319px;
  border-radius: 8px;
  background: rgba(196, 196, 196, 0.11);
  border: none;
}
.second-swiper-content-card:hover {
  background: rgba(68, 189, 85, 0.08);
}
.second-swiper-content-card .card-first-text {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  line-height: 23px;
  color: #000000;
  padding: 40px 20px;
}
.card-content {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 30px;
  left: 24px;
}
.card-content img {
  width: 73px;
  height: 73px !important;
  border-radius: 50%;
}
.card-content-text {
  position: absolute;
  width: 150px;
  left: 45px;
  bottom: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-content-text h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000000;
}
.card-content-text p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000000;
  opacity: 50%;
}
/* Third Slider */
.Third-Slider-header {
  text-align: center;
}
.Third-Slider-header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #20325f;
}
.Third-Slider-header p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #a0a0a0;
}
.myThirdSwiper-cover {
  --bs-gutter-x: 120px;
}

.third-swiper-item {
  width: 580px;
  border-radius: 8px;
  margin-top: 70px;
}
.third-swiper-item img {
  height: 394px !important;
}
.third-Slider-peg-cover {
  position: relative;
  margin-top: 40px;
  height: 60px !important;
}
.third-Slider-peg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-Slider-peg .swiper-pagination-bullet {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 14px !important;
  border-radius: 50% !important;
  border: 1px solid #00598d !important;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  background-color: #ffffff !important;
}
.third-Slider-peg .swiper-pagination-bullet-active {
  width: 53px !important;
  border-radius: 50px !important;
  background: #00598d !important;
  border: 1px solid #00598d !important;
}
/* iletişim form */
.form-cover {
  position: relative;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0px 5px 83px rgba(9, 29, 62, 0.11);
  height: 595px;
  top: -300px;
}
.iletisim-form-header {
  margin-top: 125px;
}
.iletisim-form-header h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #20325f;
}
.iletisim-form-header p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #a0a0a0;
  text-align: center;
}
.my-card-text {
  position: relative;
  padding-left: 60px;
  top: 80px;
}
.my-card h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1px;
  text-align: left;
  color: #0e204d;
}
.my-card p {
  font-family: "Roboto", sans-serif;
  width: 470px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #848e9f;
  margin-top: 30px;
}
.conteiner-user-form-left-form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  height: 400px;
}
.conteiner-user-form-left-form-element-group-1,
.conteiner-user-form-left-form-element-group-2,
.conteiner-user-form-left-form-element-group-3,
.conteiner-user-form-left-form-element-group-4 {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}
form .input-icon {
  position: relative;
  margin: 0px 15px;
}
form .input-icon i {
  position: absolute;
  left: 10px;
  top: 13px;
  padding: 9px 8px;
  color: #d7d8da;
}
form .input-icon select,
input {
  padding-left: 40px;
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
form .input-icon select,
input::placeholder {
  color: #26365e;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
.conteiner-user-form-left-form-element select {
  appearance: none;
  cursor: pointer;
  background: #ffffff url("img/arrow.png") no-repeat !important;
  background-position: 210px 50% !important;
}
.conteiner-user-form-left-form-element select,
input {
  width: 250px;
  height: 60px;
  outline: none;
  background: #ffffff;
  border: 2px solid #e6e8eb;
  border-radius: 30px;
  cursor: pointer;
}
.conteiner-user-form-left-form-element select:hover,
input:hover {
  border: none;
}
.conteiner-user-form-left-form-element-group-4 .input-icon-last input {
  background: #00598d;
  color: #ffffff;
}
form .input-icon-last i {
  position: absolute;
  right: 210px;
  bottom: 18px;
  padding: 9px 8px;
  color: #ffffff;
}
.conteiner-user-form-left-form-element-group-4 .randevuBtn {
  width: 530px;
  height: 71px;
  outline: none;
  border-radius: 35px;
  box-shadow: 2px 2px 6px rgba(3, 21, 50, 0.05);
}
.form-right {
  background: linear-gradient(
    to right,
    rgba(29, 42, 77, 0.08),
    rgba(29, 42, 77, 0)
  );
}
.form-text-cover {
  position: relative;
  left: 70px;
  top: 70px;
  width: 440px;
  height: 475px;
  border-radius: 0px 22px 22px 22px;
  background: #44bd55;
}
.form-text-cover h3 {
  padding-left: 60px;
  padding-top: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  color: #ffffff;
}
.form-text-cover p {
  padding-left: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}
.form-iletisim-text {
  padding-top: 30px;
  margin-bottom: 30px;
}
.form-iletisim-text i {
  margin-right: 10px;
}
.form-text-cover a {
  margin-left: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.bgmap {
  margin-top: 20px;
}
